---
import { getNovenaPrayer } from "~/constants/novena";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { cn } from "~/helpers/cn";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const novenaPrayer = getNovenaPrayer(lang);
const fontClass = lang === "kok" ? "font-noto-sans-kannada" : "font-roboto";
---

<div class="font-bold">
  <h2 class={cn("border-b-2 border-b-natgeo-yellow pb-2 text-2xl lg:text-3xl")}>
    {t("prayer.novena-of-our-lady-of-pompei")}
  </h2>

  <h3 class={cn("card-title w-full text-black pb-4 pt-2 text-lg")}>
    {t("prayer.pray-for-us")}
  </h3>
</div>
<p class={cn("text-justify", fontClass)} set:html={novenaPrayer} />
