---
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { cn } from "~/helpers/cn";
import { toZonedTime } from "date-fns-tz";
import { Locale } from "~/enums/locale";

import { fetchPopesIntention } from "~/services/get-popes-intention";
import StrapiBlocksRenderer from "~/components/ui/strapi-blocks-renderer";
import { popesIntentionKok } from "~/constants/popes-intention-kok";
import { popesIntentionEn } from "~/constants/popes-intention";
import { Message } from "~/constants/message";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const currentMonth = toZonedTime(new Date(), "Asia/Kolkata").getMonth() + 1;

const locale = lang === Locale.KOK ? Locale.KOK : Locale.EN;

const popesIntention = await fetchPopesIntention(locale);

// Find the current month's intention
const currentIntention = Array.isArray(popesIntention)
  ? popesIntention.find((i) => {
      const intentionMonth = new Date(i.month).getMonth() + 1;
      return intentionMonth === currentMonth;
    })
  : null;

const subtitle =
  locale === Locale.KOK
    ? popesIntentionKok.find((i) => i.month === currentMonth)?.title
    : popesIntentionEn.find((i) => i.month === currentMonth)?.title;
---

<h2
  class="mb-4 mt-4 border-b-2 border-b-natgeo-yellow pb-2 text-2xl font-bold lg:text-3xl"
>
  {t("prayer.pope-intention")}
</h2>

<div class="text-justify"></div>
{subtitle && <h1 class=" text-xl font-bold mb-2">{subtitle}</h1>}
{
  currentIntention ? (
    <p>
      <StrapiBlocksRenderer content={currentIntention.monthlyIntention} />
    </p>
  ) : (
    <p>{Message.POPES_INTENTION_NOT_FOUND}</p>
  )
}
