---
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { cn } from "~/helpers/cn";
import { toZonedTime } from "date-fns-tz";
import { Locale } from "~/enums/locale";

import { fetchPopesIntention } from "~/services/get-popes-intention";
import StrapiBlocksRenderer from "~/components/ui/strapi-blocks-renderer";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const currentMonth = toZonedTime(new Date(), "Asia/Kolkata").getMonth() + 1;

const locale = lang === Locale.KOK ? Locale.KOK : Locale.EN;

const popesIntention = await fetchPopesIntention(locale);

// Find the current month's intention
const currentIntention = Array.isArray(popesIntention)
  ? popesIntention.find((i) => {
      const intentionMonth = new Date(i.month).getMonth() + 1;
      return intentionMonth === currentMonth;
    })
  : null;
---

<h2
  class={cn(
    "mb-4 mt-4 border-b-2 border-b-natgeo-yellow pb-2 font-poppins text-2xl font-bold lg:text-3xl",
    {
      "font-noto-sans-kannada": lang === Locale.KOK,
    }
  )}
>
  {t("prayer.pope-intention")}
</h2>

<div
  class={cn("text-justify font-geist", {
    "font-noto-sans-kannada": lang === Locale.KOK,
  })}
>
  {
    currentIntention ? (
      <>
        <p>
          <StrapiBlocksRenderer content={currentIntention.monthlyIntention} />
        </p>
      </>
    ) : (
      <p>Popes Intention Not found!!!</p>
    )
  }
</div>
