---
import { cn } from '~/helpers/cn';
import { prayersKok } from '~/constants/prayers-kok';
import { prayers } from '~/constants/prayers';
import { getLangFromUrl } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);

const prayer = lang === 'kok' ? prayersKok : prayers;
---
<div
	class="mx-auto grid w-full grid-cols-2 gap-x-6 gap-y-6 pb-6 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-1"
>
	{
		prayer.map((p) => (
			<div class="mx-auto w-full max-w-3xl rounded-md border border-gray-300 bg-amber-50 p-3">
				<div class={cn(
					'card-content flex flex-1 flex-col items-center space-y-4 p-5',
					lang === 'kok' && 'font-noto-sans-kannada text-sl xs:font-normal'
				 )}
				 >
					<h3 class="card-title text-center font-serif text-xl font-semibold tracking-wide">
						{p.title}
					</h3>
					<p
						class="text-md drop-cap text-justify font-serif leading-relaxed text-gray-700"
						set:html={p.content}
					/>
				</div>
			</div>
		))
	}
</div>
