---
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import { psalms } from '~/constants/psalms';
import { getImage } from 'astro:assets';
import { cn } from '~/helpers/cn';

//Images
import psalmBg from '~/assets/prayer-corner/psalm-bg.jpg';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const optimizedBgImage = await getImage({ src: psalmBg });
---

<h2
	class={cn(
		'mt-4 border-b-2 border-b-natgeo-yellow pb-2 font-poppins text-2xl font-bold lg:text-3xl',
		{
			'font-noto-sans-kannada': lang === 'kok',
		},
	)}
>
	{t('prayer.psalms')}
</h2>

<div
	class="mt-4 max-h-96 overflow-y-auto bg-opacity-90 bg-cover bg-center p-3"
	style={{ backgroundImage: `url(${optimizedBgImage.src})` }}
>
	{
		psalms[lang].map((psalm) => (
			<div class="bg-opacity-80">
				<h3
					class={cn('text-center font-extrabold sm:text-xl', {
						'font-noto-sans-kannada': lang === 'kok',
						'font-geist': lang !== 'kok',
					})}
				>
					{psalm.title}
				</h3>
				<br />
				<p
					set:html={psalm.content}
					class={cn('text-center leading-relaxed', {
						'font-noto-sans-kannada': lang === 'kok',
						'font-geist': lang !== 'kok',
					})}
				/>
			</div>
		))
	}
</div>
