---
import { cn } from '~/helpers/cn';
import {prayer} from '~/constants/prayer1';
---
<div class="flex flex-col gap-y-6">
    <div
      class="mx-auto grid w-full max-w-3xl grid-cols-2 gap-x-20 gap-y-10 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-1 border rounded-md"
    >
      <div class="card-content flex flex-1 flex-col justify-center items-center space-y-1 p-3">
        <h3
          class="card-title w-full text-center font-bold leading-snug text-slate-900 sm:text-lg"
        >
          In the name of the Father, <br />
          and of the Son, <br />
          of the Holy Spirit
        </h3>
      </div>
    </div>

  <div
    class="mx-auto grid w-full max-w-3xl grid-cols-2 gap-x-20 gap-y-10 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-1 border rounded-md"
  >
      <div class="card-content flex flex-1 flex-col justify-end items-center space-y-1 p-3">
        <h3
          class="card-title w-full text-center pt-0.5 font-bold leading-snug text-slate-900 sm:text-lg"
        >
          Our Father
        </h3>
        <p class="text-center">{prayer}</p>
      </div>
  </div>

  <div
    class="mx-auto grid w-full max-w-3xl grid-cols-2 gap-x-20 gap-y-10 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-1 border rounded-md"
  >
      <div class="card-content flex flex-1 flex-col justify-end items-center space-y-1 p-3">
        <h3
          class="card-title w-full text-center pt-0.5 font-bold leading-snug text-slate-900 sm:text-lg"
        >
          Hail Mary
        </h3>
        <p class="text-center">{prayer}</p>
      </div>
  </div>

  <div
    class="mx-auto grid w-full max-w-3xl grid-cols-2 gap-x-20 gap-y-10 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-1 border rounded-md"
  >
      <div class="card-content flex flex-1 flex-col justify-end items-center space-y-1 p-3">
        <h3
          class="card-title w-full text-center pt-0.5 font-bold leading-snug text-slate-900 sm:text-lg"
        >
          Glory Be
        </h3>
        <p class="text-center">{prayer}</p>
      </div>
    </div>
  </div>
</div>