---
import { Image } from 'astro:assets';
import { cn } from '~/helpers/cn';
import HoverableLink from './ui/hoverable-link.astro';

interface Props {
	eventName: string;
	imageUrl: ImageMetadata;
	description: string;
	facebookLink: string;
	class?: string;
}

const { eventName, imageUrl, description, class: className } = Astro.props;
---

<div
	class={cn(
		'hover:scale-[1.01] transform overflow-hidden rounded-md border shadow transition-all max-w-md duration-300 ease-in-out mx-auto',
		className,
	)}
>
	<div class="event-image">
		<Image
			src={imageUrl}
			alt={eventName}
			height={500}
			className="h-[200px] object-cover duration-700 ease-in-out md:h-[300px]"
		/>
	</div>

	<div class="event-content p-4">
		<h3 class="event-title text-left text-xl font-bold text-slate-900">
			{eventName}
		</h3>
		<p
			class="event-description justify mt-2 text-left text-base text-slate-700"
		>
			{description}
		</p>
		<HoverableLink class="mb-2 mt-2 inline-block text-black">
			Know More
		</HoverableLink>
	</div>
</div>
