---
import { Icon } from "astro-icon/components";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const currentYear = new Date().getFullYear();
---

<footer
  class="text-white border-natgeo-yellow-400 border-t-2 bg-gray-900 p-5 pb-8 text-sm xl:px-28"
>
  <div class="flex flex-col-reverse items-center justify-between">
    <div class="mt-6 text-center">
      <p class="text-sm text-gray-100">
        &copy;{currentYear}, {t("landing.church-name")}. {
          t("footer.all-rights-reserved")
        }.
      </p>
      <p class="mt-6">
        <b>{t("footer.powered-by")}</b>: {t("footer.commission")}.
      </p>
    </div>
    <div class="mt-6 flex items-center space-x-4">
      <a
        href="mailto:pompeichurchgurpur@gmail.com"
        target="_blank"
        class="transition-transform md:hover:scale-110"
        aria-label="Email pompeichurchgurpur@gmail.com"
      >
        <Icon
          name="mail"
          size={24}
          class="text-xl text-white"
          aria-hidden="true"
        />
      </a>
      <a
        href="https://www.facebook.com/ladyofpompeichurch.gurpur/"
        target="_blank"
        class="transition-transform md:hover:scale-110"
        aria-label="Visit our Facebook page"
      >
        <Icon
          name="facebook"
          size={21}
          class="text-xl text-white"
          aria-hidden="true"
        />
      </a>
      <a
        href="https://www.instagram.com/our_lady_of_pompei_church/"
        target="_blank"
        class="transition-transform md:hover:scale-110"
        aria-label="Follow us on Instagram"
      >
        <Icon
          name="instagram"
          size={21}
          class="text-xl text-white"
          aria-hidden="true"
        />
      </a>
      <a
        href="https://www.youtube.com/@pompeichurchmedia8386"
        target="_blank"
        class="transition-transform md:hover:scale-110"
        aria-label="Subscribe to our YouTube channel"
      >
        <Icon
          name="youtube"
          size={24}
          class="text-xl text-white"
          aria-hidden="true"
        />
      </a>
      <a
        href="tel:+918277939340"
        target="_blank"
        class="transition-transform md:hover:scale-110"
        aria-label="Call +91 82779 39340"
      >
        <Icon
          name="phone"
          size={19}
          class="text-xl text-white"
          aria-hidden="true"
        />
      </a>
    </div>
  </div>
</footer>
