---
import { Icon } from 'astro-icon/components';

import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<footer class="border-t-2 border-natgeo-yellow-400 bg-gray-900  text-sm text-black-200">
	<div class="flex flex-col-reverse  justify-between items-center">
		<div class="mt-6  ">
			<p class="text-sm text-gray-100 text-center">
				&copy;2024, Our Lady of Pompei Church. All Rights Reserved. <strong>Powered by:</strong> Commission for Social Communication, Gurpur Kaikamba
			</p>
		</div>
		<div class="flex space-x-4 items-center mt-6 ">
			<a href="mailto:pompeichurch100@gmail.com" target="_blank" class="transition-transform hover:scale-110">
				<Icon name="mail" class="text-xl" />
			</a>
			<a href="https://www.facebook.com/ladyofpompeichurch.gurpur/" target="_blank" class="transition-transform hover:scale-110">
				<Icon name="facebook" class="text-xl" />
			</a>
			<a href="https://www.instagram.com/our_lady_of_pompei_church/" target="_blank" class="transition-transform hover:scale-110">
				<Icon name="instagram" class="text-xl" />
			</a>
			<a href="https://www.youtube.com/@pompeichurchmedia8386" target="_blank" class="transition-transform hover:scale-110">
				<Icon name="youtube" class="text-xl" />
			</a>
			<a href="tel:+916969696969" target="_blank" class="transition-transform hover:scale-110">
				<Icon name="phone" class="text-xl" />
			</a>
		</div>
	</div>
</footer>
