---
import { Icon } from 'astro-icon/components';
---

<footer
	class="text-black-200 border-t-2 border-natgeo-yellow-400 bg-gray-900 p-6 pb-6 text-sm text-slate-200 xl:px-28"
>
	<div class="flex flex-col-reverse items-center justify-between">
		<div class="mt-6">
			<p class="text-center text-sm text-gray-100">
				&copy;2024, Our Lady of Pompei Church. All Rights Reserved. <strong
					>Powered by:</strong
				> Commission for Social Communication, Gurpur Kaikamba
			</p>
		</div>
		<div class="mt-6 flex items-center space-x-4">
			<a
				href="mailto:pompeichurch100@gmail.com"
				target="_blank"
				class="transition-transform hover:scale-110"
			>
				<Icon name="mail" size={24} class="text-xl text-white" />
			</a>
			<a
				href="https://www.facebook.com/ladyofpompeichurch.gurpur/"
				target="_blank"
				class="transition-transform hover:scale-110"
			>
				<Icon name="facebook" size={24} class="text-xl text-white" />
			</a>
			<a
				href="https://www.instagram.com/our_lady_of_pompei_church/"
				target="_blank"
				class="transition-transform hover:scale-110"
			>
				<Icon name="instagram" size={24} class="text-xl text-white" />
			</a>
			<a
				href="https://www.youtube.com/@pompeichurchmedia8386"
				target="_blank"
				class="transition-transform hover:scale-110"
			>
				<Icon name="youtube" size={24} class="text-xl text-white" />
			</a>
			<a
				href="tel:+916969696969"
				target="_blank"
				class="transition-transform hover:scale-110"
			>
				<Icon name="phone" size={24} class="text-xl text-white" />
			</a>
		</div>
	</div>
</footer>
