---
import { Image } from 'astro:assets';
import { cn } from '~/helpers/cn';
import HoverableLink from './ui/hoverable-link.astro';

interface Props {
	title: string;
	imageUrl: ImageMetadata;
	downloadUrl: string; // Keep this to use for the download link
	class?: string;
}

const { title, imageUrl, downloadUrl, class: className } = Astro.props;
---

<div
	class={cn(
		'hover:scale-[1.01] transform overflow-hidden rounded-md border duration-300 ease-in-out transition-all max-w-md mx-auto',
		className,
	)}
>
	<div class="magazine-image relative">
		<Image
			src={imageUrl}
			alt={title}
			class="w-full object-cover lg:h-[480px]"
		/>
	</div>

	<div class="magazine-content mt-3 pb-5 text-center flex flex-row justify-center ">

		<HoverableLink href={downloadUrl}>
	    Download
		</HoverableLink>

	</div>
</div>
