---
import { Image } from 'astro:assets';
import { cn } from '~/helpers/cn';

interface Props {
	title: string;
	imageUrl: ImageMetadata;
	class?: string;
}

const { title, imageUrl, class: className, ...rest } = Astro.props;
---

<div
	class={cn(
		'hover:scale-[1.01] transform overflow-hidden rounded-md border duration-300 ease-in-out transition-all max-w-md mx-auto',
		className,
	)}
	{...rest}
>
	<div class="magazine-image">
		<Image
			src={imageUrl}
			alt={title}
			class="w-full object-cover lg:h-[480px]"
		/>
	</div>

	<div class="magazine-content mt-3 pb-5 pt-3 text-center">
		<h3
			class="magazine-title text-lg font-bold leading-snug text-slate-900 sm:text-xl"
		>
			{title}
		</h3>
	</div>
</div>
