---
import { Image } from 'astro:assets';
import { cn } from '~/helpers/cn';

interface Props {
	title: string;
	imageUrl: ImageMetadata;
	class?: string;
}

const { title, imageUrl, class: className } = Astro.props;
---

<div
	class={cn(
		'hover:scale-[1.01] hover:shadow-md transform snap-start first:snap-align-none max-w-xs rounded-md border shadow',
		className,
	)}
>
	<div class="magazine-image flex-none">
		<Image
			src={imageUrl}
			alt={title}
			class="h-auto w-full rounded-md object-cover"
		/>
	</div>

	<div class="magazine-content mt-3 p-4 text-center">
		<h3
			class="magazine-title text-lg font-bold leading-snug text-slate-900 sm:text-xl"
		>
			{title}
		</h3>
	</div>
</div>
