---
import { Icon } from 'astro-icon/components';
---

<aside>
	<button
		id="scrollToTop"
		class="fixed bottom-6 left-4 flex items-center justify-center rounded-full"
	>
		<Icon name="scrolltop" size={33} />
	</button>
</aside>

<style>
	svg {
		background-color: transparent; /* Ensure background is transparent */
	}
</style>

<script>
	const scrollToTopButton = document.querySelector('#scrollToTop');

	scrollToTopButton.addEventListener('click', () => {
		window.scrollTo({
			top: 0,
			behavior: 'smooth', // Smooth scrolling to the top
		});
	});
</script>
