---
import ScrollToTopIcon from '~/assets/icons/scroll-to-top.svg';
import "../styles/scroll-top.css";
---

<button
  id="scrollToTopBtn"
  class="scroll-to-top"
  aria-label="Scroll to top"
  title="Scroll to top"
>
  <svg class="scroll-progress-icon" width="56" height="56" style="position: absolute;">
    <circle class="progress-ring" r="26" cx="28" cy="28" />
  </svg>
  <ScrollToTopIcon />
</button>


<script>
  import { scrollToTopInit } from "../scripts/scroll-top.ts";
  if (typeof window !== "undefined") {
    document.addEventListener("DOMContentLoaded", scrollToTopInit);
  }
</script>
