---
import "~/styles/scroll-top.css";
import { Icon } from "astro-icon/components";
---

<aside>
  <button
    id="scrollToTop"
    class="scroll-to-top"
    aria-label="Scroll to top"
    title="Scroll to top"
  >
    <Icon name="scroll-to-top" class="size-14" />
  </button>
</aside>

<script>
  import { scrollToTop } from "~/scripts/scroll-top.ts";
  scrollToTop();
</script>
