<aside>
  <button
    id="scrollToTop"
    class="fixed bottom-6 left-4 flex items-center justify-center rounded-full"
  >
  <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 48 48"><g fill="none" stroke-width="2.0"><path stroke="#faf200" d="M24 44C35.0457 44 44 35.0457 44 24C44 12.9543 35.0457 4 24 4C12.9543 4 4 12.9543 4 24C4 35.0457 12.9543 44 24 44Z" clip-rule="evenodd"/><path fill="#faf200" stroke="#faf200" stroke-linejoin="round" d="M24 44C35.0457 44 44 35.0457 44 24C44 12.9543 35.0457 4 24 4C12.9543 4 4 12.9543 4 24C4 35.0457 12.9543 44 24 44Z"/><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" d="M33 27L24 18L15 27"/></g></svg>
  </button>
</aside>

<style>
  svg {
    background-color: transparent; /* Ensure background is transparent */
  }
</style>

<script>
  const scrollToTopButton = document.querySelector('#scrollToTop');

  scrollToTopButton.addEventListener('click', () => {
    window.scrollTo({
      top: 0,
      behavior: 'smooth' // Smooth scrolling to the top
    });
  });
</script>
