---
import Centenary from "~/components/sections/halls/centenary.astro";
import Layout from "~/layouts/layout.astro";
import centenaryHallImage from "~/assets/halls/centenary-hall.jpg";
import { getLangFromUrl } from "~/i18n/utils";
import { Locale } from "~/enums/locale";

const lang = getLangFromUrl(Astro.url);

const title =
  lang === Locale.KOK ? "ಶತಾಬ್ದಿ ಸ್ಮಾರಕ್ ಭವನ್" : "Centenary Memorial Hall";

const ogImageUrl = centenaryHallImage.src;
---

<Layout title={` ${title}`} image={ogImageUrl}>
  <main class="mx-auto max-w-screen-lg overflow-hidden bg-white">
    <section id="centenary-hall" class="flex flex-col p-6 lg:p-8">
      <Centenary />
    </section>
  </main>
</Layout>
