---
import { Icon } from 'astro-icon/components';
import Layout from '~/layouts/layout.astro';
import HoverableLink from '~/components/ui/hoverable-link.astro';
---

<Layout title="Pompei Church | Contact">
  <section class="p-6 font-poppins flex flex-col lg:items-center text-slate-100">
    <h1
      class="mb-16 border-l-4 border-yellow-400 pl-3 text-3xl font-extrabold text-black"
    >
      CONTACT US
    </h1>
    <h1 class="text-gray-700 font-normal text-center text-lg self-center">Contact us for more information about our church activities, hall bookings, and other inquiries</h1>

    <div class="flex flex-col lg:flex-row  items-center m-0 md:mx-56">
      <div class="mx-auto mt-10  lg:px-32 py-4 bg-white max-w-4xl">
        <div class="mb-6 border-b-2 pb-4">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 11c0 1.105-.895 2-2 2s-2-.895-2-2 .895-2 2-2 2 .895 2 2zM5.23 21a9 9 0 0013.54 0M9 19l3-3m0 0l3 3m-3-3V7" />
            </svg>
            <span class="ml-2 font-bold text-yellow-400">Address :</span>
          </div>
          <p class="ml-8 mt-2 text-gray-700 text-nowrap">Gurpur, Kinnikambla, Mangaluru 575001</p>
        </div>
        <div class="mb-6 border-b-2 pb-4">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 10l2 2m0 0l2-2m-2 2v10m0-10l2-2m-2 2h10l2 2m-2-2v10l2 2m0 0l-2-2m-2-2l-4 4" />
            </svg>
            <span class="ml-2 font-bold text-yellow-400">Phone :</span>
          </div>
          <p class="ml-8 mt-2 text-gray-700">789999565</p>
        </div>

        <!-- Phone (Mobile) -->
        <div class="mb-6 border-b-2 pb-4">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 10l2 2m0 0l2-2m-2 2v10m0-10l2-2m-2 2h10l2 2m-2-2v10l2 2m0 0l-2-2m-2-2l-4 4" />
            </svg>
            <span class="ml-2 font-bold text-yellow-400">Office Hours :</span>
          </div>
          <p class="ml-8 mt-2 text-gray-700"> Mon-Sat: 9AM - 1PM | 2PM-5PM </p>
        </div>

        <!-- Milagres Hall Complex -->
        <div class="mb-6 border-b-2 pb-4">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 10l2 2m0 0l2-2m-2 2v10m0-10l2-2m-2 2h10l2 2m-2-2v10l2 2m0 0l-2-2m-2-2l-4 4" />
            </svg>
            <span class="ml-2 font-bold text-yellow-400">Office Clerk :</span>
          </div>
          <p class="ml-8 mt-2 text-gray-700">John cena</p>
        </div>
        <div class="mb-6">
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-yellow-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3 10l2 2m0 0l2-2m-2 2v10m0-10l2-2m-2 2h10l2 2m-2-2v10l2 2m0 0l-2-2m-2-2l-4 4" />
            </svg>
            <span class="ml-2 font-bold text-yellow-400">Email :</span>
          </div>
          <p class="ml-8 mt-2 text-gray-700">pompeichurch100@gmail.com</p>
        </div>
      </div>
      <div class="lg:border-2 lg:border-gray-300  ml-10 h-full "></div>
      <div class="px-6 w-full max-w-5xl rounded-2xl  ">
        <form
          action="https://formcarry.com/s/vLAD1FJnIJh"
          method="POST"
          enctype="multipart/form-data"
          class="space-y-4"
        >
         <div class="flex flex-row  justify-evenly items-center ">
          <div class="mr-2">
            <label for="name" class="block  text-sm text-white">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              required
              class="w-full px-3 py-2 border border-gray-300 bg-white  text-black focus:outline-none focus:bg-white"
              placeholder="Name"
            />
          </div>

          <div>
            <label for="phone" class="block  text-sm text-white">Phone Number</label>
            <input
              type="tel"
              id="phone"
              name="phone"
              required
              class="w-full px-3 py-2 border border-gray-300 bg-white   text-black focus:outline-none focus:bg-white"
              placeholder="Phone Number"
            />
          </div>
        </div>
        <div>
          <label for="phone" class="block  text-sm text-white">Email</label>
          <input
            type="text"
            id="email"
            name="email"
            required
            class="w-full px-3 py-2 border border-gray-300 bg-white  text-black focus:outline-none focus:bg-white"
            placeholder="Email"
          />
        </div>
          <div>
            <label for="message" class="block  text-lg text-white">Message</label>
            <textarea
              id="message"
              name="message"
              required
              rows="4"
              class="w-full px-3 py-2 border border-gray-300 bg-white  text-black focus:outline-none focus:bg-white"
              placeholder="Message"
            ></textarea>
          </div>

          <div class="text-center pb-4 ">
            <button
              type="submit"

            >
            <HoverableLink class="mb-2 mt-2 inline-block text-black">
             SEND MESSAGE
            </HoverableLink>
            </button>
          </div>
        </form>
      </div>

    </div>

  </section>
  <div class="overflow-hidden shadow-sm w-full ">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13260.49078439848!2d74.9254980873684!3d12.961133328525621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba357ac5f2a68cf%3A0x3976db3d34963470!2sOur%20Lady%20Of%20Pompei%20Church!5e0!3m2!1sen!2sin!4v1724241128491!5m2!1sen!2sin"
      width="100%"
      height="450"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="h-72 w-full rounded-lg"
    ></iframe>
  </div>
</Layout>
