---
import EventsList from '~/components/sections/events/events-list.astro';
import Layout from '~/layouts/layout.astro';
import EventCard from '~/components/event-card.astro';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Pompei Church | Events">
	<main class="mx-auto max-w-4xl overflow-hidden bg-white">
		<section id="infrastructure" class="flex flex-col p-6">
			<h1
				class="mb-4 border-l-4 border-natgeo-yellow pl-3 text-3xl font-extrabold lg:text-4xl"
			>
				{t('nav.events')}
			</h1>
			<p class="pb-4 text-justify font-geist text-lg">
				Here is a glimpse of the esteemed former parish priests who have
				nurtured our faith, enriched our community and individual lives, and
				upheld the cherished legacy of our church throughout these years.
			</p>
			<EventsList />
		</section>
	</main>
</Layout>
