---
import Layout from "~/layouts/layout.astro";
import ExVpList from "~/components/sections/ex-vicepresidents/ex-vp-list.astro";
import ExSecretariesList from "~/components/sections/ex-secretaries/ex-secretaries-list.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import AdministratorsList from "~/components/sections/administrators/administrators-list.astro";
import TreasurersList from "~/components/sections/treasurers/treasurers-list.astro";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Pompei Church | Ex Vice-Presidents and Secretaries">
  <main class="mx-auto max-w-4xl overflow-hidden bg-white">
    <section class="flex flex-col p-6 pb-4">
      <h1
        class={cn(
          "border-natgeo-yellow mb-4 border-l-4 pl-3 text-3xl font-extrablack lg:text-4xl",
          {
            "font-noto-sans-kannada pt-2 font-semibold": lang === Locale.KOK,
          }
        )}
      >
        {t("vpsec.title")}
      </h1>
      <div
        class={cn("font-roboto", {
          "font-noto-sans-kannada pt-2": lang === Locale.KOK,
        })}
      >
        <p
          class={cn("font-roboto pb-4 text-justify text-lg text-slate-700", {
            "font-noto-sans-kannada": lang === Locale.KOK,
          })}
        >
          {t("vpsec.subtitle")}
        </p>

        <h2 class="mt-3 text-2xl font-semibold italic text-red-600 lg:text-3xl">
          {t("vpsec.subtitle1")}
        </h2>
        <TreasurersList />
        <h2
          class="mt-10 text-2xl font-semibold italic text-red-600 lg:text-3xl"
        >
          {t("vpsec.subtitle2")}
        </h2>
        <AdministratorsList />
        <h2
          class="mt-10 text-2xl font-semibold italic text-red-600 lg:text-3xl"
        >
          {t("vpsec.subtitle3")}
        </h2>
        <ExVpList />
        <h2
          class="mt-10 text-2xl font-semibold italic text-red-600 lg:text-3xl"
        >
          {t("vpsec.subtitle4")}
        </h2>
        <ExSecretariesList />
      </div>
    </section>
  </main>
</Layout>
