---
import Layout from '~/layouts/layout.astro';
import ExVpList from '~/components/sections/ex-vicepresidents/ex-vp-list.astro';
import ExSecretariesList from '~/components/sections/ex-secretaries/ex-secretaries-list.astro';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Pompei Church | Ex Vice-Presidents and Secretaries">
	<main class="mx-auto max-w-4xl overflow-hidden bg-white">
		<section id="parish-priests" class="flex flex-col p-6 pb-4">
			<h1
				class="mb-4 border-l-4 border-natgeo-yellow pl-3 text-3xl font-extrabold lg:text-4xl"
			>
				{t('vpsec.title')}
			</h1>
			<p class="text-justify font-geist text-lg text-slate-700 pb-4">
				{t('vpsec.subtitle')}
			</p>

			<h2 class="text-2xl text-red-600 font-semibold lg:text-3xl italic">{t('vpsec.subtitle1')}</h2>

			<h2 class="text-2xl text-red-600 font-semibold lg:text-3xl italic">{t('vpsec.subtitle2')}</h2>

			<h2 class="text-2xl text-red-600 font-semibold lg:text-3xl italic">{t('vpsec.subtitle3')}</h2>
			<ExVpList />
      <h2 class="text-2xl text-red-600 font-semibold lg:text-3xl mt-10 italic">{t('vpsec.subtitle4')}</h2>
      <ExSecretariesList />
		</section>
	</main>
</Layout>
