---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
---

<Layout title="Home | Pompei Church.">
	<Header />
	<main class="h-screen bg-yellow-50"></main>
</Layout>