---
import Layout from '~/layouts/layout.astro';

import { getLangFromUrl, useTranslations } from '~/i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import HeroSection from '~/components/sections/landing-page/hero-section.astro';
import ParishPriestSpeaks from '~/components/sections/landing-page/parish-priest-speaks-section.astro';
import AboutChurch from '~/components/sections/landing-page/about-church-section.astro';
import ImageCarousel from '~/components/sections/landing-page/image-carousel';
import PastoralParishadSection from '~/components/sections/landing-page/pastoral-parishad-section.astro';
import MassTimingsSection from '~/components/sections/landing-page/mass-timings-section.astro';
import YoutubeVideo from '~/components/sections/landing-page/youtube-video.astro';
---

<Layout title=`${t("landing.church-name")} | ${t("landing.town-name")}`>
	<main>
		<HeroSection />

		<ParishPriestSpeaks />

		<ImageCarousel client:idle />

		<AboutChurch />

		<YoutubeVideo />

		<PastoralParishadSection />

		<MassTimingsSection />
	</main>
</Layout>
