---
import Layout from "~/layouts/layout.astro";
import RosaMystica from "~/components/sections/institutions/rosa-mystica.astro";
import BethanySchool from "~/components/sections/institutions/bethany-school.astro";
import Jeevadan from "~/components/sections/institutions/jeevadaan.astro";
import Snehasadan from "~/components/sections/institutions/snehasadan.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";
import rosaMysticaHrps from "~/assets/institutions/rosa-mystica-hrps.jpg";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const ogTitle = lang === Locale.KOK ? "ಸಂಸ್ಥೆ" : "Institutions";
const ogImageUrl = rosaMysticaHrps.src;
---

<Layout title="Pompei Church | Institutions" title={ogTitle} image={ogImageUrl}>
  <main class="mx-auto max-w-screen-lg overflow-hidden bg-white">
    <section id="our-institutions" class="flex flex-col p-6 lg:p-8">
      <h1
        class={cn(
          "border-natgeo-yellow border-l-4 pl-3 text-left text-3xl lg:text-4xl font-black",
          { "pt-[13px] font-bold": lang === Locale.KOK },
        )}
      >
        {t("nav.institutions")}
      </h1>
      <RosaMystica />
      <div class="mx-10 border-t-2 border-yellow-300"></div>
      <BethanySchool />
      <div class="mx-10 border-t-2 border-yellow-300"></div>
      <Jeevadan />
      <div class="mx-10 border-t-2 border-yellow-300"></div>
      <Snehasadan />
    </section>
  </main>
</Layout>
