---
import Layout from '~/layouts/layout.astro';
import PompeiConvent from '~/components/sections/our-convents/pompei-convent.astro';
import RosaMysticaConvent from '~/components/sections/our-convents/rosa-mystica-convent.astro';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
---

<Layout title="Pompei Church | Our Convents">
	<main class="mx-auto max-w-4xl overflow-hidden bg-white">
		<section id="our-convents" class="flex flex-col p-6">
			<h1
				class="mb-2 border-l-4 border-l-natgeo-yellow pl-3 text-3xl font-extrabold lg:text-4xl"
			>
			{t('nav.our-convents')}
			</h1>
			<!-- <p class="font-roboto mt-4 text-lg text-white">
					Explore our mission and the institutions that help make it possible.
				</p> -->
			<PompeiConvent />
			<div class="mx-10 border-t-2 border-yellow-300"></div>
			<RosaMysticaConvent />
		</section>
	</main>
</Layout>
