---
import Layout from '~/layouts/layout.astro';
import RosaMystica from '~/components/sections/our-institutions/rosa-mystica.astro';
import BethanySchool from '~/components/sections/our-institutions/bethany-school.astro';
import Jeevadan from '~/components/sections/our-institutions/jeevadaan.astro';
import Snehasadan from '~/components/sections/our-institutions/snehasadan.astro';
---

<Layout title="Pompei Church | Our Institutions">
	<main class="overflow-hidden bg-white">
		<section
			id="our-institutions"
			class="flex flex-col p-6 lg:items-center"
			>
			<h1
				class="mb-3 border-l-4 border-l-natgeo-yellow pl-3 text-3xl font-extrabold"
			>
				INSTITUTIONS
			</h1>
			<!-- <p class="font-geist text-lg">
				Explore our mission and the institutions that help make it possible.
			</p> -->
			<RosaMystica />
			<div class="mx-10 border-t-2 border-yellow-300"></div>
			<BethanySchool />
			<div class="mx-10 border-t-2 border-yellow-300"></div>
			<Jeevadan />
			<div class="mx-10 border-t-2 border-yellow-300"></div>
			<Snehasadan />
		</section>
	</main>
</Layout>
