---
import PullDown from '~/components/pull-down.astro';
import Layout from '~/layouts/layout.astro';

const commissions = [
	{
		title: 'Liturgy-Word-Proclamation',
		subtitles: [
			{
				commission: 'Commission for Bible Apostolate',
				name: 'Mr. Henry Sequeira',
			},
			{
				commission: 'Commission for Catechetics Apostolate',
				name: 'Mrs. Jacintha Peris',
			},
			{
				commission: 'Commission for Proclamation Apostolate',
				name: 'Mrs. Gretta Lobo',
			},
			{ commission: 'Commission for Liturgy', name: 'Mrs. Praveena DSilva' },
		],
		convenor: 'Mrs. Linet Monteiro',
	},
	{
		title: 'Witness',
		subtitles: [
			{
				commission: 'Commission for Social Development Apostolate',
				name: 'Mrs. Vijaya DCosta',
			},
			{
				commission: 'Commission for Social Communication',
				name: 'Mrs. Laveena Andrade',
			},
			{
				commission: 'Commission for Justice and Peace Apostolate',
				name: 'Michael Johnson',
			},
			{
				commission: 'Commission for Formation of the Priests and the Religious',
				name: 'Sr. Jaya',
			},
			{
				commission: 'Commission for Environment Apostolate',
				name: 'Mr. Charles Sequeira',
			},
		],
		convenor: 'Roshan DChuna',
	},
	{
		title: 'Service',
		subtitles: [
			{
				commission: 'Commission for Education Apostolate',
				name: 'Mrs. Gretta Nazareth',
			},
			{
				commission: 'Commission for Health Apostolate',
				name: 'Mrs. Wilma Crasta',
			},
			{
				commission: 'Commission for Labour Apostolate',
				name: 'Mrs. Laveena Rosario',
			},
			{
				commission: "Commission for Migrants' Aposolate",
				name: 'Sr. Leena Pereira',
			},
			{
				commission: 'Commission for Apostolate to Specially Abled',
				name: 'Mr. Melwin Saldanha',
			},
		],
		convenor: 'Sr. Sadhana',
	},
	{
		title: 'Unity',
		subtitles: [
			{
				commission: 'Commission for Small Christian Community',
				name: 'Mrs. Delcy Rodrigues',
			},
			{
				commission: 'Commission for Family Apostolate',
				name: 'Mr. Ivan DSouza',
			},
			{
				commission: 'Commission for Laity Apostolate',
				name: 'Mr. Alwyn Pinto',
			},
			{ commission: 'Commission for Women', name: 'Mrs. Juliet Serrao' },
			{
				commission: 'Commission for Youth Apostolate',
				name: 'Mr. Godwin Tauro',
			},
			{
				commission: 'Commission for Ecumenism Apostolate',
				name: 'Mrs. Margarette Andrade',
			},
			{
				commission: 'Commission for Inter-Religious Dialogue Apostolate',
				name: 'Mr. Rajesh Noronha',
			},
		],
		convenor: 'Mrs. Violet Peris',
	},
];
---

<Layout title="Pompei Church | Parish Pastoral Commission">
	<section class="mx-6 mt-5">
		<h2
			data-animate-on-view="animate-slidein-left"
			class="relative mb-4 border-l-4 border-natgeo-yellow pl-3 text-left font-poppins text-3xl font-extrabold transition-opacity duration-700"
		>
			PARISH PASTORAL COMMISSION
		</h2>
		{
			commissions.map((commission) => (
				<PullDown
					title={commission.title}
					subtitles={commission.subtitles}
					convenor={commission.convenor}
				/>
			))
		}
	</section>
</Layout>
