---
import Layout from '~/layouts/layout.astro';
import PastoralCommission from '~/components/sections/parish-pastoral-21-commissions/pastoral-commission.astro';
---

<Layout title="Pompei Church | Parish Pastoral 21 Commissions  ">
	<main class="min-h-screen overflow-hidden bg-white">
		<section
			id="pastoral-commissions"
			class="mx-3 mt-4 flex flex-col p-2 lg:items-center"
		>
			<h1
				class="mb-6 border-l-4 border-l-natgeo-yellow pl-3 text-3xl font-extrabold"
			>
				PARISH PASTORAL 21 COMMISSIONS
			</h1>
			<!-- <p class="font-geist text-lg">
				Explore our mission and the institutions that help make it possible.
			</p> -->
			<PastoralCommission />
		</section>
	</main></Layout
>
