---
import Layout from "~/layouts/layout.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import ParishFinancecommitteeList from "~/components/sections/parish-finance-committee/parish-finance-committee-list.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Pompei Church | Parish Finance Committee">
  <main class="mx-auto max-w-4xl overflow-hidden bg-white">
    <section id="finance-committee" class="flex flex-col p-6 pb-4">
      <h1
        class="border-natgeo-yellow mb-5 border-l-4 pl-3 text-3xl font-extrablack lg:text-4xl"
      >
        {t("nav.parish-finance-committee")}
      </h1>
      <ParishFinancecommitteeList />
    </section>
  </main>
</Layout>
