---
import Layout from '~/layouts/layout.astro';
import ParishPriestsList from '~/components/sections/parish-priests/parish-priests-list.astro';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Pompei Church | Parish Priests">
	<main class="overflow-hidden bg-white">
		<section
			id="parish-priests"
			class="mx-6 mt-5 flex flex-col p-2 pb-4 lg:items-center"
		>
			<h1
				class="relative mb-4 border-l-4 border-natgeo-yellow pl-3 font-poppins text-3xl font-extrabold"
			>
				{t('nav.parish-priests')}
			</h1>
			<p class="max-w-4xl font-geist text-lg md:text-center">
				Here is a glimpse of the esteemed former parish priests who have
				nurtured our faith, enriched our community and individual lives, and
				upheld the cherished legacy of our church throughout these years.
			</p>
			<ParishPriestsList />
		</section>
	</main>
</Layout>
