---
import Layout from '~/layouts/layout.astro';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import HistoryCarousel from '~/components/sections/parish-history/history-carousel.astro';
import ParishDetails from '~/components/sections/parish-history/parish-details.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
//TODO : Update the history carousel with images
---

<Layout title="Pompei Church | Parish History">
	<main class="mx-auto max-w-4xl overflow-hidden bg-white">
		<section id="parish-history" class="flex flex-col p-6 pb-4">
			<h1
				class="mb-4 border-l-4 border-natgeo-yellow pl-3 text-3xl font-extrabold lg:text-4xl"
			>
				{t('history.title')}
			</h1>
			<h2 class="text-black-400 pt-2 pb-6 font-geist text-2xl font-bold italic">
				{t('history.subtitle')}
			</h2>
			<ParishDetails />
		</section>
	</main>
</Layout>
