---
import Layout from '~/layouts/layout.astro';
import dummyImage from '~/assets/dummy-image.png';
import ProfileCard from '~/components/profile-card.astro';

const councilMembers = [
	{
		imageUrl: dummyImage,
		name: "Rev. Fr. Rudolph Ravi D'Sa",
		subtitle: 'Parish Priest',
	},
	{
		imageUrl: dummyImage,
		name: 'Mr. Romans Lobo',
		subtitle: 'Vice-President',
	},
	{
		imageUrl: dummyImage,
		name: 'Mr. Johnson Lobo',
		subtitle: 'Secretary',
	},
	{
		imageUrl: dummyImage,
		name: 'Mrs. Hilda Menezes',
		subtitle: '21 Pastoral Commission Coordinator',
	},
	{
		imageUrl: dummyImage,
		name: 'Mr. Johnson Lobo',
		subtitle: 'Secretary',
	},
	{
		imageUrl: dummyImage,
		name: 'Mr. Johnson Lobo',
		subtitle: 'Secretary',
	},
	{
		imageUrl: dummyImage,
		name: 'Mr. Johnson Lobo',
		subtitle: 'Secretary',
	},
];
---

<Layout title="Pompei Church | Parish Pastoral Parishad">
	<section class="mx-6 mt-5">
		<h2
			data-animate-on-view="animate-slidein-left"
			class="font-roboto relative mb-4 border-l-4 border-natgeo-yellow pl-3 text-left text-3xl font-extrabold transition-opacity duration-700"
		>
			PARISH PASTORAL PARISHAD
		</h2>
		<ul
			class="mx-auto grid w-full grid-cols-2 gap-4 gap-y-5 p-4 sm:w-[90%] sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
		>
			{
				councilMembers.map((councilMember) => (
					<ProfileCard
						class="m-auto w-40"
						imageUrl={councilMember.imageUrl}
						name={councilMember.name}
						subtitle={councilMember.subtitle}
					/>
				))
			}
		</ul>
	</section>
</Layout>
