---
import PompeichemFalkemList from '~/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro';
import Layout from '~/layouts/layout.astro';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import type { PompeichemFalkem } from '~/models/pompeichem-falkem';
import { listMagazines } from '~/services/pompeichem-falkem/list-magazines';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const magazines: PompeichemFalkem[] = (await listMagazines()) || [];
---

<Layout title="Pompei Church | Pompeichem Falkem">
	<main class="mx-auto max-w-4xl overflow-hidden bg-white">
		<section id="pompeichem-falkem" class="flex flex-col p-6">
			<h1
				class="border-natgeo-yellow border-l-4 pl-3 text-3xl font-extrabold lg:text-4xl"
			>
				{t('nav.pompeichem-falkem')}
			</h1>
			<PompeichemFalkemList magazines={magazines}/>
		</section>
	</main>
</Layout>