---
import PompeichemFalkemList from '~/components/sections/pompeichem-falkem/pompeichem-falkem-list.astro';
import Layout from '~/layouts/layout.astro';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Pompei Church | Pompeichem Falkem">
	<main class="overflow-hidden bg-white">
		<section
			id="pompeichem-falkem"
			class="mx-6 mt-5 flex flex-col p-2 lg:items-center"
		>
			<h1
				class="relative mb-4 border-l-4 border-natgeo-yellow pl-3 font-poppins text-3xl font-extrabold"
			>
				Pompeichem Falkem
			</h1>
			<PompeichemFalkemList />
		</section>
	</main>
</Layout>
