---
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import Layout from '~/layouts/layout.astro';
import { Image } from 'astro:assets';
//TODO (Aroma): Replace this image with actual novena image
import motherMary from '~/assets/mother-mary.jpg';
import Card from '~/components/sections/prayer-card.astro';
import Bible from '~/components/sections/bible-readings.astro';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Pompei Church | Prayer Corner">
	<main class="mx-auto max-w-4xl overflow-hidden bg-white">
		<section id="parish-history" class="flex flex-col p-6 pb-4">
			<h1
				class="mb-4 border-l-4 border-natgeo-yellow pl-3 text-3xl font-extrabold lg:text-4xl"
			>
				{t('nav.prayer-corner')}
			</h1>
			<p class="text-md pb-6 font-poppins text-slate-400">
				Why pray?
				<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
				incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
				nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
				eu fugiat nulla pariatur.
			</p>
			<h2
				class="mb-5 pl-4 text-3xl font-bold lg:text-2xl">
				Let's join hands in prayer
			</h2>
      <Card/>
			<h2
				class=" mt-10 pl-4 text-3xl font-bold lg:text-2xl">
        Find guidance and peace by turning to the Bible’s verses.
			</h2>
			<Bible/>
		</section>
	</main>
</Layout>
