---
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { Image } from "astro:assets";
import { cn } from "~/helpers/cn";

//Images
import candles from "~/assets/prayer-corner/candles.jpg";

//Components
import Psalms from "~/components/sections/prayer-corner/psalms.astro";
import Novena from "~/components/sections/prayer-corner/novena.astro";
import JubileeYear from "~/components/sections/prayer-corner/jubilee-year.astro";
import PopesIntention from "~/components/sections/prayer-corner/popes-intention.astro";
import PrayerCard from "~/components/sections/prayer-corner/prayer-card.astro";
import Layout from "~/layouts/layout.astro";
import { Locale } from "~/enums/locale";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Pompei Church | Prayer Corner">
  <main class="mx-auto max-w-4xl overflow-hidden bg-white">
    <section id="parish-history" class="flex flex-col p-6 pb-4">
      <h1
        class={cn(
          "font-black  mb-4 border-l-4 border-natgeo-yellow pl-3 text-3xl lg:text-4xl",
          {
            "font-bold": lang === Locale.KOK,
          },
        )}
      >
        {t("nav.prayer-corner")}
      </h1>
      <Image
        src={candles}
        alt="Candles lit for prayer"
        class="w-full pb-4 pt-2"
      />
      <PrayerCard />
      <Novena />
      <Psalms />
      <PopesIntention />
      <JubileeYear />
    </section>
  </main>
</Layout>
