---
import Layout from "~/layouts/layout.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import ReligiousPriestsList from "~/components/sections/religious-priests/religious-priests-list.astro";
import ReligiousNunsList from "~/components/sections/religious-nuns/religious-nuns-list.astro";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";

import { religiousPriests } from "~/constants/religious-vocations";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const ogImageUrl = religiousPriests[0]?.imageUrl.src;
const ogTitle =
  lang === Locale.KOK
    ? "ಆಮ್ಚ್ಯೆ ಫಿರ್ಗಜಿಂತ್ಲಿ ಧಾರ್ಮಿಕಾಂ"
    : "Religious Vocations";

const ogDescription =
  lang === Locale.KOK
    ? "ಸೊಮ್ಯಾಚ್ಯಾ ಶೆತಾಂತ್ಲೆಂ ದೇವ್ ಆಪೊವ್ಣ್ಯಾಕ್ ಪಾಳೊ ದೀವ್ನ್ ದೆವಾಚೆಂ ರಾಜ್ ವಿಸ್ತಾರುನ್ ಆಸ್ಚ್ಯಾ ಆಮ್ಚ್ಯಾ ಫಿರ್ಗಜ್ ಗಾರಾಂಚಿಂ ಝಳಕ್."
    : "A glimpse of our parishioners who have embraced religious vocations, and are spreading God's kingdom.";
---

<Layout description={ogDescription} title={ogTitle} image={ogImageUrl}>
  <main class="mx-auto max-w-screen-lg overflow-hidden bg-white">
    <section id="parish-priests" class="flex flex-col p-6 lg:p-8">
      <h1
        class={cn(
          "border-natgeo-yellow border-l-4 pl-3 text-left text-3xl lg:text-4xl font-black",
          { "pt-[13px] font-bold": lang === Locale.KOK },
        )}
      >
        {t("nav.religious-vocations")}
      </h1>
      <p
        class="pb-6 pt-4 lg:pb-8 text-lg text-justify font-normal text-slate-700"
      >
        {t("vocation.title")}
      </p>
      <h2 class="mt-6 text-3xl font-semibold italic text-red-600 lg:text-3xl">
        {t("vocation.subtitle1")}
      </h2>
      <ReligiousPriestsList />
      <h2 class="mt-6 text-3xl font-semibold italic text-red-600 lg:text-3xl">
        {t("vocation.subtitle2")}
      </h2>
      <ReligiousNunsList />
    </section>
  </main>
</Layout>
