---
import Layout from "~/layouts/layout.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";
import ChevronDown from '~/assets/icons/chevron-down.svg?react';
import CheckMark from '~/assets/icons/check-mark.svg';
import { getWardNameKok } from "~/helpers/get-ward-names-kok";
import { criteria } from "~/constants/achievement-criteria";

const lang = getLangFromUrl(Astro.url) as Locale;
const t = useTranslations(lang);

const wards = [
  "Kowdoor A",
  "Kowdoor B",
  "Pompei A",
  "Pompei B",
  "Kandar A",
  "Kandar B",
  "Monel",
  "Gurpur",
  "Church",
  "Addoor",
]
---

<Layout title="Parishioners Achievements Form">
  <main class="mx-auto max-w-4xl overflow-hidden bg-white">
    <section id="parishioner-achievements" class="flex flex-col p-6 pb-4">
      <h1
        class={cn(
          "font-roboto font-black border-natgeo-yellow mb-4 border-l-4 pl-3 text-3xl lg:text-4xl",
          {
            "font-noto-sans-kannada font-bold": lang === Locale.KOK,
          },
        )}
      >
        {t("nav.parishioners-achievements")}
      </h1>

      <div class="text-gray-800 text-md font-normal lg:text-lg">
          <h2 class="mb-3" set:html={criteria[lang].title}></h2>
          <p set:html={criteria[lang].content}></p>
      </div>

      <div class="w-full h-0.5 mx-auto my-4 bg-natgeo-yellow rounded-md "></div>

      <form data-lang={lang} class="flex-1 space-y-6" enctype="multipart/form-data" id="achievementsForm">
        <!-- Name of the achiever or Team Name -->
        <div>
          <label for="full-name" class="text-base font-light leading-6 text-gray-700">{t("achievement.name")} <span class="text-red-500">*</span></label>
          <input id="full-name" type="text" name="full-name" class="block w-full border border-gray-300 p-3 focus:outline-gray-700 placeholder-gray-600" required placeholder={t("placeholder.name")} maxlength="50"></input>
        </div>

        <!-- Achievement -->
        <div>
          <label for="achievement" class="text-base font-light leading-6 text-gray-700">{t("achievement")} <span class="text-red-500">*</span></label>
          <input id="achievement" type="text" name="achievement" class="block w-full border border-gray-300 p-3 focus:outline-gray-700 placeholder-gray-600" required placeholder={t("placeholder.achievement")} maxlength="100"></input>
        </div>

        <!-- Achiever Image -->
        <div>
          <label for="achiever-image" class="text-base font-light leading-6 text-gray-700">{t("achievement.achiever-image")} <span class="text-red-500">*</span></label>
          <input id="achiever-image" type="file" name="achiever-image" class="block w-full border border-gray-300 p-3 cursor-pointer focus:outline-gray-700 placeholder-gray-600" accept=".jpg, .jpeg, .png, image/jpeg, image/png"></input>
          <p id="achiever-image-error" class="text-xs text-red-500 mt-1"></p>
        </div>

        <!-- Achievement Issue Date -->
        <div>
          <label for="issue-date" class="text-base font-light leading-6 text-gray-700">{t("achievement.issue-date")} <span class="text-red-500">*</span></label>
          <input id="issue-date" type="date" name="issue-date" class="block w-full border border-gray-300 p-3 cursor-pointer focus:outline-gray-700 placeholder-gray-600" required></input>
        </div>

        <!-- Parents / Team Members Names Checkbox -->
        <div class="md:flex flex-row space-x-4">
          <div class="mb-3 md:mb-0">
            <label for="checkbox-parents-names" class="text-base font-light leading-6 text-gray-700">{t("achievement.parents-names")}</label>
            <input id="checkbox-parents-names" type="checkbox" name="checkbox-parents-names" class="ml-1 cursor-pointer" required></input>
          </div>

          <div class="mb-3 md:mb-0">
            <label for="checkbox-team-members-names" class="text-base font-light leading-6 text-gray-700">{t("achievement.team-members-names")}</label>
            <input id="checkbox-team-members-names" type="checkbox" name="checkbox-team-members-names" class="ml-1 cursor-pointer" required></input>
          </div>
        </div>

        <!-- Parents Names -->
        <div class="hidden" id="parents-names">
          <label for="parents-names" class="text-base font-light leading-6 text-gray-700">{t("achievement.parents-names")} <span class="text-red-500">*</span></label>
          <input id="parents-names" type="text" name="parents-names" class="block w-full border border-gray-300 p-3 focus:outline-gray-700 placeholder-gray-600" required placeholder={t("placeholder.parents-names")} maxlength="50"></input>
        </div>

        <!-- Team Members Names -->
        <div class="hidden" id="team-members-names">
          <label for="team-members-names" class="text-base font-light leading-6 text-gray-700">{t("achievement.team-members-names")} <span class="text-red-500">*</span></label>
          <input id="team-members-names" type="text" name="team-members-names" class="block w-full border border-gray-300 p-3 focus:outline-gray-700 placeholder-gray-600" required placeholder={t("placeholder.team-members-names")} maxlength="50"></input>
        </div>

        <!-- Ward (optional for teams) -->
        <div>
          <div id="ward-select" class="relative w-full mx-auto cursor-pointer">
            <label for="ward-input" class="block text-base font-light text-gray-700 mb-1">
              {t("achievement.ward")}
            </label>

            <input id="ward-input" type="text" name="ward-input" class="block w-full border border-gray-300 p-3 pr-10 focus:outline-gray-700 placeholder-gray-600 cursor-pointer" placeholder={t("ward.select-label")} readonly></input>

            <ChevronDown id="dropdown-chevron" className="absolute w-6 h-6 right-3 top-1/2 text-gray-600 cursor-pointer" />

            <!-- Ward names Dropdown -->
            <div id="ward-options-menu" class="absolute left-0 right-0 mt-1 bg-white border border-gray-300 rounded-b-md z-10 max-h-36 overflow-y-auto hidden">
              {wards.map((ward) => (
                <div class="p-2 cursor-pointer hover:bg-blue-100">
                  {getWardNameKok(ward, lang)}
                </div>
              ))}
            </div>
          </div>
        </div>

        <!-- Submitted By -->
        <div>
          <label for="submitted-by" class="text-base font-light leading-6 text-gray-700">{t("achievement.submitted-by")} <span class="text-red-500">*</span></label>
          <input id="submitted-by" type="text" name="submitted-by" class="block w-full border border-gray-300 p-3 focus:outline-gray-700 placeholder-gray-600" required placeholder={t("placeholder.submitted-by")} maxlength="50"></input>
        </div>

        <!-- Proof of Achievement -->
        <div>
          <label for="proof-of-achievement" class="text-base font-light leading-6 text-gray-700">{t("achievement.proof-of-achievement")} <span class="text-red-500">*</span></label>
          <input id="proof-of-achievement" type="file" name="proof-of-achievement" class="block w-full border border-gray-300 p-3 cursor-pointer focus:outline-gray-700 placeholder-gray-600" accept=".jpg, .jpeg, .png, image/jpeg, image/png"></input>
          <p id="proof-of-achievement-error-message" class="text-xs text-red-500 mt-1"></p>
        </div>

        <!-- Additional Images (only 2 if any) -->
        <div>
          <label for="additional-images" class="text-base font-light leading-6 text-gray-700">{t("achievement.additional-images")}</label>
          <input id="additional-images" type="file" name="additional-images" class="block w-full border border-gray-300 p-3 cursor-pointer focus:outline-gray-700 placeholder-gray-600" multiple accept=".jpg, .jpeg, .png, image/jpeg, image/png"></input>
          <p id="additional-images-error" class="text-xs text-red-500 mt-1"></p>
        </div>

        <!-- Submit Button -->
        <div class="flex items-center justify-center mt-4 mb-0">
          <button type="submit" class="bg-natgeo-yellow text-black text-semibold px-4 py-2 rounded-md cursor-pointer">{t("achievement.submit")}</button>
        </div>

        <!-- Honeypot Spam Trap (hidden) -->
        <div class="hidden">
          <label for="honeypot">Important</label>
          <input type="text" name="honeypot" id="honeypot" tabindex="-1" autocomplete="off" />
        </div>

        <!-- Success Toast -->
        <div id="toast"class="fixed top-6 left-1/2 transform -translate-x-1/2 bg-green-600 text-white px-6 py-4 text-lg font-bold z-50 rounded-xl shadow-lg opacity-0 transition-opacity duration-300 pointer-events-none flex items-center gap-3">
          <CheckMark class="w-6 h-6" />
          <span id="toast-text"></span>
        </div>
      </form>
    </section>
  </main>
  <script>
    import { achievementForm } from "~/scripts/achievement-form";
    import { Locale } from "~/enums/locale";
    const lang = document.getElementById("achievementsForm")?.dataset.lang as Locale;
    achievementForm(lang);
  </script>
</Layout>