---
import { ExOfficeBearersRole } from "~/enums/ex-office-bearers-role";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { listExVicePresidentsAndSecretaries } from "~/services/list-ex-vice-presidents-and-secretaries-data";
import VpsecCard from "~/components/vpsec-card.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const vicePresidents = await listExVicePresidentsAndSecretaries({
  page: 1,
  pageSize: 100,
  filters: { role: {$eq: ExOfficeBearersRole.VICE_PRESIDENT} },
})
---

<div
  class="grid-cols-1 mx-auto grid w-full gap-x-20 gap-y-10 pt-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
>
  {
    vicePresidents.map((vp) => (
      <VpsecCard
        class="m-auto"
        imageUrl={
           vp.image?.url &&
           new URL(
              vp.image.url,
              import.meta.env.PUBLIC_STRAPI_URL
          ).toString()
        }
        name={lang === "kok" ? vp.nameKok : vp.nameEn}
        term={
          vp.terms?.[0]
            ? `${vp.terms[0].startDate} : ${vp.terms[0].endDate}`
            : undefined
        }

        term2={
          vp.terms?.[1]
            ? `${vp.terms[1].startDate} : ${vp.terms[1].endDate}`
            : undefined

          }

      />
    ))
  }
</div>
