---
import { getImage } from 'astro:assets';

import { getLangFromUrl, useTranslations } from '~/i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import maryGrotto from '~/assets/mary-grotto.jpg';
const optimizedGrottoImage = await getImage({ src: maryGrotto });

import HoverableLink from '~/components/ui/hoverable-link.astro';

import { cn } from '~/helpers/cn';

import YoutubeVideo from './youtube-video.astro';
import { aboutUs } from '~/constants/about-us.ts';
---

<section
	style={{ backgroundImage: `url(${optimizedGrottoImage.src})` }}
	class="relative flex flex-col gap-y-8 bg-black/70 bg-cover bg-center p-8 md:p-24 text-white bg-blend-darken"
>
	<h1
		data-aos="fade-right"
		class={cn(
			'relative font-poppins text-5xl inline font-black leading-tight',
			{ 'font-noto-sans-kannada': lang === 'kok' }
		)}
	>
		{t('landing.about-church')}
	</h1>
	<div class="flex items-center flex-col gap-x-10 md:flex-row-reverse">

	<div class="relative flex w-full flex-col  xl:gap-20 lg:gap-18 gap-12 bg-cover bg-center pb-2">
		<!-- <div
				class="relative mb-6 mr-auto h-1 w-20 bg-natgeo-yellow opacity-0"
				data-aos="fade-left"
			>
			</div> -->
		<p
			class="relative max-w-2xl text-justify font-giest leading-relaxed drop-shadow-xl lg:max-w-fit"
		>
			{aboutUs}
		</p>

		<div class="flex justify-end">
			<HoverableLink href="/parish-history/" class="m-3">
				{t('ui.more-button-know')}
			</HoverableLink>
		</div>
	</div>

	<div class="flex md:w-[90rem] flex-col">
		<YoutubeVideo />
	</div>
</div>
</section>
