---
import EventCard from '~/components/event-card.astro';
import eventImage from '~/assets/mass-interior.jpg';
import eventImage1 from '~/assets/centenary-hall.jpg';
import HoverableLink from '~/components/ui/hoverable-link.astro';

const events = [
	{
		eventName: 'Community Gathering',
		imageUrl: eventImage,
		description:
			'Join us for a community gathering filled with fun, food, and fellowship.',
		facebookLink: 'https://facebook.com/event-link', // Replace with actual Facebook event link
	},
	{
		eventName: 'Charity Drive',
		imageUrl: eventImage1,
		description:
			'Help us support those in need by participating in our charity drive.',
		facebookLink: 'https://facebook.com/event-link', // Replace with actual Facebook event link
	},
];
---

<section class="mx-6 mt-6">
	<h1
		data-aos="fade-right"
		class="mb-4 border-l-4 border-natgeo-yellow pl-3 font-poppins text-3xl font-extrabold"
	>
		Events
	</h1>

	<div class="md:grid-cols-2 lg:grid-cols-3 grid grid-cols-1 gap-6">
		{
			events.map((event) => (
				<EventCard
					eventName={event.eventName}
					imageUrl={event.imageUrl}
					description={event.description}
					facebookLink={event.facebookLink}
				/>
			))
		}
	</div>
	<div class="flex justify-center">
		<HoverableLink href="/events" class="m-3"> Show More Events </HoverableLink>
	</div>
</section>
