---
import HoverableLink from '~/components/ui/hoverable-link.astro';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import EventCard from '~/components/event-card.astro';
import { events } from '~/constants/events';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
	class="mx-6 mt-4 flex flex-col lg:mx-28 lg:min-h-[70svh] lg:justify-evenly"
>
	<h1
		data-aos="fade-right"
		class="mb-6 border-l-4 border-natgeo-yellow pl-3 font-poppins text-3xl font-extrabold lg:text-4xl"
	>
		{t('nav.events')}
	</h1>
	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8 md:grid-cols-3 md:gap-4">
		{events.slice(0,3).map((event) => (
		<EventCard
			eventName={event.eventName}
			imageUrl={event.imageUrl}
			description={event.description}
			facebookLink={event.facebookLink}
		/>
	))}
</div>
<div class="flex justify-center">
		<HoverableLink href="/events" class="m-5"> Show More Events </HoverableLink>
	</div>
</section>
