---
import { Image, getImage } from 'astro:assets';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import skyImage from '~/assets/sky-bg.jpg';
import churchHeroImage from '~/assets/church-hero.jpg';
import churchLogo from '~/assets/church-logo.png';
import { cn } from '~/helpers/cn';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const optimizedSkyImage = await getImage({ src: skyImage });
const optimizedChurchHeroImage = await getImage({ src: churchHeroImage });
---

<section
	class="relative h-screen w-screen bg-black/20 bg-cover bg-blend-darken"
	style={{
		backgroundImage: `url(${optimizedSkyImage.src})`,
	}}
>
	<div class="absolute inset-0 bg-white opacity-70 bg-blend-darken"></div>

	<div
		class="relative mx-4 h-[30vh] overflow-hidden rounded-b-full bg-yellow-50 sm:mx-auto sm:h-[40vh] sm:w-[80vw] md:h-80 md:w-96 xl:h-96 xl:w-5/12"
	>
		<div
			class="animated-background mx-auto h-full w-full bg-cover bg-center bg-no-repeat"
			style={{ backgroundImage: `url(${optimizedChurchHeroImage.src})` }}
		>
		</div>
	</div>
	<h1
		data-aos="fade-up"
		data-aos-delay="700"
		class={cn(
			'mt-3 text-center font-montserrat text-4xl  lg:text-5xl font-semibold',
			{
				'font-noto-sans-kannada': lang === 'kok',
			},
		)}
	>
		{t('landing.church-name')}
	</h1>
	<p
		data-aos="fade-up"
		data-aos-delay="900"
		class={cn('mt-2 text-center font-montserrat font-normal text-3xl', {
			'font-noto-sans-kannada': lang === 'kok',
		})}
	>
		{t('landing.town-name')}
	</p>
	<div class="mx-auto">
		<Image
			src={churchLogo}
			alt="Our Lady of Pompei Church logo"
			width={180}
			data-aos="fade-up"
			data-aos-delay="1100"
			class="mx-auto my-4 opacity-0 font-geist"
		/>
	</div>
</section>
<style>
	@keyframes animatedBackground {
		from {
			transform: scale(1.2);
		}
		to {
			transform: scale(1);
		}
	}
	.animated-background {
		animation: animatedBackground 2s ease-out forwards;
	}
</style>
