---
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import churchHeroMobile from "~/assets/landing-page/church-hero.webp";
import churchHeroDesktop from "~/assets/landing-page/church-improved.png";
import { cn } from "~/helpers/cn";
import { Locale } from "~/enums/locale";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="relative w-full">
  <!-- Mobile hero -->
  <div
    class="relative h-[40vh] bg-cover bg-center bg-no-repeat md:hidden"
    style={`background-image: url(${churchHeroMobile.src})`}
  >
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black/65"></div>
    <div
      class="relative flex flex-col items-center justify-center h-full text-center px-4 pt-35"
    >
      <h1
        class={cn(
          "text-2xl font-semibold text-natgeo-yellow tracking-wide mb-2",
          { "font-semibold tracking-wide": lang === Locale.KOK },
        )}
      >
        {t("landing.church-name")}
      </h1>
      <p class="text-md text-white">{t("landing.town-name")}</p>
    </div>
  </div>

  <!-- Desktop hero -->
  <div
    class="hidden md:block relative h-[85vh] bg-cover bg-center bg-no-repeat"
    style={`background-image: url(${churchHeroDesktop.src})`}
  >
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black/65"></div>
    <div
      class="relative flex flex-col items-center justify-center h-full text-center px-4 pt-35"
    >

    <div class="relative flex flex-col items-center justify-center h-full text-center px-4">
      <h1
        class={cn(
          "text-5xl font-semibold text-natgeo-yellow tracking-wide mb-4",
          { "font-semibold tracking-wide": lang === Locale.KOK },
        )}
      >
        {t("landing.church-name")}
      </h1>
      <p class="text-3xl text-white">{t("landing.town-name")}</p>
    </div>
  </div>
</section>
