---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { cn } from "~/helpers/cn";
import { Locale } from "~/enums/locale";
import churchLogo from "~/assets/static-assets/temp-logo.webp"
import skyImage from "~/assets/landing-page/sky-bg.webp";
import churchHeroImage from "~/assets/landing-page/church-hero.webp";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  class="relative h-screen w-screen bg-black/20 bg-cover bg-blend-darken"
>
  <Image
    src={skyImage}
    alt="Background sky"
    class="absolute inset-0 h-full w-full object-cover -z-10"
    fetchpriority="high"
  />

  <div class="absolute inset-0 bg-white opacity-70 bg-blend-darken"></div>

  <div
    class="relative mx-4 h-[30vh] overflow-hidden rounded-b-full bg-yellow-50 sm:mx-auto sm:h-[40vh] sm:w-[80vw] md:h-80 md:w-96 xl:h-96 xl:w-5/12"
  >
    <Image
      src={churchHeroImage}
      alt="Church hero image"
      class="animated-background mx-auto h-full w-full object-cover"
      loading="eager"
      fetchpriority="high"
      decoding="async"
    />
  </div>
  <h1
    data-aos="fade-up"
    class={cn(
      "mt-6 text-center text-4xl lg:text-5xl font-semibold tracking-wide",
      {
        "font-semibold tracking-wide": lang === Locale.KOK,
      },
    )}
  >
    {t("landing.church-name")}
  </h1>
  <p data-aos="fade-up" class="mt-2 text-center text-3xl">
    {t("landing.town-name")}
  </p>
  <div class="mx-auto">
    <Image
      src={churchLogo}
      alt="Our Lady of Pompei Church logo"
      width={190}
      height={190}
      data-aos="fade-up"
      widths={[400, 800, 1200, 1600]}
      sizes="100vw"
      class="mx-auto my-4 opacity-0"
    />
  </div>
</section>
