<section class="mx-6 mb-8 mt-8 flex justify-center">
	<div
		class="w-full max-w-md overflow-hidden rounded-lg border border-gray-200 bg-white shadow-sm"
	>
		<div
			class="bg-gradient-to-r from-yellow-400 to-orange-500 p-4 text-center font-semibold text-white"
		>
			Follow Us on Instagram
		</div>
		<iframe
			class="h-[440px] w-full"
			scrolling="no"
			loading="lazy"
			src="https://www.instagram.com/our_lady_of_pompei_church/embed/"
			frameborder="0"
			allowtransparency="true"
			allowfullscreen="true"></iframe>
	</div>
</section>
