---
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import { priestMessage } from '~/constants/parish-priest-message';
import { cn } from '~/helpers/cn';

//Images
import priestImage from '~/assets/landing-page/pp1.png';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
	class="mx-6 mt-6 flex flex-col lg:mx-28 lg:mb-3 lg:mt-0 lg:min-h-[70svh] lg:justify-evenly"
>
	<h2
		data-aos="fade-right"
		class={cn(
			'mb-4 inline-block border-l-4 border-natgeo-yellow pl-3 font-poppins text-[27px] font-extrabold xs:text-2xl lg:text-4xl',
			{
				'font-noto-sans-kannada': lang === 'kok',
			},
		)}
	>
		{t('landing.priest-speaks')}
	</h2>

	<div class="flex flex-col gap-x-10 lg:flex-row">
		<div class="lg:min-w-72 xl:min-w-96">
			<div
				data-aos="fade-in"
				class="relative mx-auto flex w-fit flex-col items-center"
			>
				<div class="absolute top-full -z-10 h-[43%] w-[103%]"></div>
				<Image
					src={priestImage}
					alt="Parish Priest of Our Lady of Pompei Church"
					width={300}
				/>
			</div>

			<figcaption
				class="mt-2 text-center font-lora text-lg italic text-slate-600"
			>
				{t('landing.priest-name')}
			</figcaption>
		</div>

		<div class="lg:self-center">
			<p
				class={cn(`text-justify font-geist pt-2 text-base leading-7`, {
					'font-noto-sans-kannada': lang === 'kok',
				})}
			>
				{lang === 'kok' ? priestMessage.kok : priestMessage.en}
			</p>
			<div class="flex flex-col items-end pb-6 lg:mt-10">
				<span class="mt-2 font-bold">{t('landing.priest')}</span>
			</div>
		</div>
	</div>
</section>
