---
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { cn } from "~/helpers/cn";
import { getPlaceholderImage } from "~/helpers/get-placeholder-image";

import { fetchParishPriestMessage } from "~/services/get-parish-priest-message";

import NetworkImage from "~/components/ui/network-image.astro";
import { Locale } from "~/enums/locale";

import { Message } from "~/constants/message.ts";
import FireworksButton  from "~/components/anniversary";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const parishPriestMessageKok = await fetchParishPriestMessage(Locale.KOK);
const parishPriestMessageEn = await fetchParishPriestMessage();

const parishPriestImage =
  lang === Locale.KOK
    ? parishPriestMessageKok?.parishPriestImage ||
      parishPriestMessageEn?.parishPriestImage
    : parishPriestMessageEn?.parishPriestImage ||
      parishPriestMessageKok?.parishPriestImage;

const parishPriestName =
  (lang === Locale.KOK
    ? parishPriestMessageKok?.parishPriestName ||
      parishPriestMessageEn?.parishPriestName
    : parishPriestMessageEn?.parishPriestName ||
      parishPriestMessageKok?.parishPriestName) || "Parish Priest";
---

<section
  class="mx-6 flex flex-col lg:mx-28 lg:mb-3 lg:mt-0 lg:min-h-[70svh] lg:justify-evenly"
  data-lang={lang}
>
  <h2
    class={cn(
      "font-black mb-4 inline-block border-l-4 border-natgeo-yellow pl-3 text-2xl lg:text-4xl",
      {
        "font-extrabold": lang === Locale.KOK,
      },
    )}
  >
    {t("landing.priest-speaks")}
  </h2>

  <div class="flex flex-col gap-x-10 lg:flex-row">
    <div class="lg:min-w-72 xl:min-w-96">
      <div
        class="relative mx-auto flex w-fit flex-col items-center"
      >
        <div
          class="absolute top-full -z-10 h-[43%] w-[103%] pointer-events-none"
        >
        </div>
        {
          (
            <NetworkImage
              src={
                parishPriestImage?.url
                  ? new URL(
                      parishPriestImage?.url,
                      import.meta.env.PUBLIC_STRAPI_URL,
                    ).toString()
                  : getPlaceholderImage({ text: parishPriestName })
              }
              alt={parishPriestName || "Parish Priest"}
              width={parishPriestImage?.width || 300}
              height={parishPriestImage?.height || 300}
              class="w-[300px]"
            />
          )
        }
      </div>

      <p class="mt-2 text-center text-lg italic text-slate-700">
        {
          parishPriestMessageKok?.parishPriestName ||
          parishPriestMessageEn?.parishPriestName
            ? lang === Locale.KOK
              ? parishPriestMessageKok?.parishPriestName ||
                parishPriestMessageEn?.parishPriestName
              : parishPriestMessageEn?.parishPriestName ||
                parishPriestMessageKok?.parishPriestName
            : "Parish Priest Name"
        }
      </p>
    </div>

    {
      parishPriestMessageKok || parishPriestMessageEn ? (
        <div class="lg:self-center">
          <p class="text-justify font-normal pt-2 text-base leading-7">
            {lang == Locale.KOK
              ? parishPriestMessageKok?.message ||
                parishPriestMessageEn?.message
              : parishPriestMessageEn?.message ||
                parishPriestMessageKok?.message}
          </p>
          <div class="flex flex-col items-end pb-6 lg:mt-10">
            <span class="mt-2 font-bold">
              {lang == Locale.KOK
                ? parishPriestMessageKok?.message
                  ? "ಫಿರ್ಗಜ್ ವಿಗಾರ್"
                  : "Parish Priest"
                : parishPriestMessageEn?.message
                  ? "Parish Priest"
                  : "ಫಿರ್ಗಜ್ ವಿಗಾರ್"}
            </span>
          </div>
        </div>
      ) : (
        <div class="m-auto">
          <p class="py-6 text-center text-3xl font-semibold">
            {Message.MESSAGE_TO_BE_SHARED}
          </p>
        </div>
      )
    }
  </div>
    <FireworksButton client:only="react" />
</section>
