---
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { cn } from "~/helpers/cn";
import { getPlaceholderImage } from "~/helpers/get-placeholder-image";

import { fetchParishPriestMessage } from "~/services/get-parish-priest-message";

import NetworkImage from "~/components/ui/network-image.astro";
import { Locale } from "~/enums/locale";

import { Message } from "~/constants/message.ts";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const parishPriestMessageKok = await fetchParishPriestMessage(Locale.KOK);
const parishPriestMessageEn = await fetchParishPriestMessage();
const parishPriestMessage =
  lang === Locale.KOK
    ? await fetchParishPriestMessage(Locale.KOK)
    : await fetchParishPriestMessage();
---

<section
  class="mx-6 mt-6 flex flex-col lg:mx-28 lg:mb-3 lg:mt-0 lg:min-h-[70svh] lg:justify-evenly"
>
  <h2
    data-aos="fade-right"
    class={cn(
      "mb-4 inline-block border-l-4 border-natgeo-yellow pl-3 font-poppins text-[27px] font-extrabold xs:text-2xl lg:text-4xl",
      {
        "font-noto-sans-kannada": lang === Locale.KOK,
      }
    )}
  >
    {t("landing.priest-speaks")}
  </h2>

  <div class="flex flex-col gap-x-10 lg:flex-row">
    <div class="lg:min-w-72 xl:min-w-96">
      <div
        data-aos="fade-in"
        class="relative mx-auto flex w-fit flex-col items-center"
      >
        <div class="absolute top-full -z-10 h-[43%] w-[103%]"></div>
        {
          (parishPriestMessageKok || parishPriestMessageEn) && (
            <NetworkImage
              src={
                parishPriestMessage?.parishPriestImage?.url
                  ? new URL(
                      parishPriestMessage?.parishPriestImage.url,
                      import.meta.env.STRAPI_URL
                    ).toString()
                  : getPlaceholderImage()
              }
              alt={parishPriestMessage?.parishPriestName || "Parish Priest"}
              width={parishPriestMessage?.parishPriestImage?.width || 300}
              height={parishPriestMessage?.parishPriestImage?.height || 300}
              class="w-[300px]"
            />
          )
        }
      </div>

      <figcaption
        class="font-lora mt-2 text-center text-lg italic text-slate-600"
      >
        {
          lang == Locale.KOK
            ? parishPriestMessageKok?.parishPriestName
              ? parishPriestMessageKok?.parishPriestName
              : parishPriestMessageEn?.parishPriestName
            : parishPriestMessageEn?.parishPriestName
              ? parishPriestMessageEn?.parishPriestName
              : parishPriestMessageKok?.parishPriestName
        }
      </figcaption>
    </div>

    {
      parishPriestMessageKok || parishPriestMessageEn ? (
        <div class="lg:self-center">
          <p
            class={cn(`text-justify font-geist pt-2 text-base leading-7`, {
              "font-noto-sans-kannada": lang === Locale.KOK,
            })}
          >
            {lang == Locale.KOK
              ? parishPriestMessageKok?.message
                ? parishPriestMessageKok?.message
                : parishPriestMessageEn?.message
              : parishPriestMessageEn?.message
                ? parishPriestMessageEn?.message
                : parishPriestMessageKok?.message}
          </p>
          <div class="flex flex-col items-end pb-6 lg:mt-10">
            <span class="mt-2 font-bold">{t("landing.priest")}</span>
          </div>
        </div>
      ) : (
        <div class="flex flex-col justify-center">
          <NetworkImage
            src={getPlaceholderImage()}
            alt="Placeholder Image"
            width={600}
            height={400}
          />
          <p class="py-8 text-center text-3xl font-semibold">
            {Message.MESSAGE_TO_BE_SHARED}
          </p>
        </div>
      )
    }
  </div>
</section>
