---
import { Icon } from "astro-icon/components"
---

<section class="mb-8 mt-6">
  <h1
		data-aos="fade-right"
		class="mx-5 mb-4 border-l-4 border-natgeo-yellow pl-3 font-poppins text-3xl font-extrabold"
	>
		Follow <span class="text-3xl font-semibold">our journey</span>
	</h1>
  <div class="flex flex-col md:flex-row justify-between items-center w-full max-w-2xl gap-4">
    <div class="flex-1 flex flex-col rounded-lg justify-center overflow-hidden max-w-xs w-full">
      <h2 class="text-base flex items-center mb-3 font-thin">
        <Icon name="facebook" class="text-2xl ml-2 mr-1" />
        <span class="font-semibold">OurLadyOfPompeiChurch</span>
      </h2>

      <div class="relative rounded-xl border shadow-lg bg-white">
        <div id="fb-root"></div>
        <div class="fb-page"
             data-href="https://www.facebook.com/ladyofpompeichurch.gurpur?ref=embed_page"
             data-height="300"
             data-width="320"
             data-small-header="false"
             data-adapt-container-width="true"
             data-hide-cover="false"
             data-show-facepile="true"
             data-show-posts="true"
             style="width: 100%; margin: auto; overflow: hidden;">
          <blockquote cite="https://www.facebook.com/ladyofpompeichurch.gurpur?ref=embed_page"
                      class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/ladyofpompeichurch.gurpur?ref=embed_page">Our Lady of Pompei Church, Gurpur Kaikamba</a>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="flex-1 flex flex-col rounded-lg justify-center overflow-hidden p-2 max-w-xs w-full">
      <h2 class="text-base flex items-center mb-3 font-thin">
        <Icon name="instagram" class="text-2xl ml-2 mr-1" />
        <span class="font-semibold">@our_lady_of_pompei_church</span>
      </h2>
      <div class="relative rounded-xl border shadow-md bg-white">
        <iframe
          src="https://www.instagram.com/our_lady_of_pompei_church/embed/"
          width="100%"
          height="300"
					seamless="seamless"
          style="border:none; overflow: auto;">
        </iframe>
      </div>
    </div>
  </div>

</section>

<script
async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v20.0" nonce="sTNs2jJW">
</script>
