---
import { Icon } from 'astro-icon/components';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import { cn } from '~/helpers/cn';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="mx-6 mt-4 xs:mb-10 md:mb-10 lg:mx-28 lg:justify-center">
	<h1
		data-aos="fade-right"
		class={cn(
			'mb-4 inline-block border-l-4 border-natgeo-yellow pl-3 font-poppins text-3xl font-extrabold xs:text-2xl lg:mb-10 lg:text-4xl',
			{
				'font-noto-sans-kannada': lang === 'kok',
			},
		)}
	>
		{t('landing.follow-our-journey')}
	</h1>

	<div
		class="flex w-full max-w-2xl flex-col items-center justify-between gap-4 md:mx-auto md:flex-row md:items-center lg:mx-auto"
	>
		<!-- TODO: Temporary removal of FB grid in small devices -->
		<div
			class="hidden w-full max-w-xs flex-1 flex-col justify-center overflow-hidden rounded-lg md:flex"
		>
			<h2 class="mb-3 flex items-center text-base font-thin">
				<Icon name="facebook1" class="ml-2 mr-1 text-2xl text-blue-500" />
				<span class="font-poppins font-semibold">OurLadyOfPompeiChurch</span>
			</h2>

			<div class="relative rounded-lg bg-white">
				<div id="fb-root"></div>
				<div
					class="fb-page rounded-lg"
					data-href="https://www.facebook.com/ladyofpompeichurch.gurpur?ref=embed_page"
					data-height="300"
					data-width="320"
					data-small-header="false"
					data-adapt-container-width="true"
					data-hide-cover="false"
					data-show-facepile="true"
					data-show-posts="true"
					style="width: 100%; margin: auto; overflow: hidden;"
				>
					<blockquote
						cite="https://www.facebook.com/ladyofpompeichurch.gurpur?ref=embed_page"
						class="fb-xfbml-parse-ignore"
					>
						<a
							href="https://www.facebook.com/ladyofpompeichurch.gurpur?ref=embed_page"
						>
							Our Lady of Pompei Church, Gurpur Kaikamba
						</a>
					</blockquote>
				</div>
			</div>
		</div>

		<div
			class="flex w-full max-w-xs flex-1 flex-col justify-center overflow-hidden rounded-md p-2"
		>
			<h2 class="mb-3 flex items-center text-base font-thin">
				<Icon name="instagram1" class="ml-2 mr-1 text-2xl text-pink-500" />
				<span class="font-poppins font-semibold"
					>@our_lady_of_pompei_church</span
				>
			</h2>
			<div class="relative rounded-md">
				<iframe
					src="https://www.instagram.com/our_lady_of_pompei_church/embed/"
					width="100%"
					height="300"
					seamless="seamless"
					style="border:none; overflow: auto;"
				>
				</iframe>
			</div>
		</div>
	</div>
</section>

<script
	async
	defer
	crossorigin="anonymous"
	src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v20.0"
	nonce="sTNs2jJW"
></script>
