---
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import { Image } from 'astro:assets';
import { cn } from '~/helpers/cn';
import { upcomingEvents } from '~/constants/upcoming-events';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
	class="mx-6 mb-4 flex flex-col lg:mx-28 lg:min-h-[70svh] lg:justify-evenly"
>
	<h1
		data-aos="fade-right"
		class={cn(
			'mb-6 inline-block border-l-4 border-natgeo-yellow pl-3 font-poppins text-3xl font-extrabold xs:text-2xl lg:text-4xl',
			{
				'font-noto-sans-kannada': lang === 'kok',
			},
		)}
	>
		{t('landing.upcoming-events')}
	</h1>
	<div class="flex flex-col justify-center gap-4 md:flex-row md:gap-6">
		{
			upcomingEvents.map((event) => (
				<Image src={event.eventImg} alt="" class={event.class} />
			))
		}
	</div>
</section>
