<section class="mt-3 flex justify-center">
	<div class="h-60 w-full md:h-96">
		<iframe
			class="aspect-video h-full w-full rounded-lg shadow-lg"
			loading="lazy"
			src="https://www.youtube-nocookie.com/embed/OKO_Jq-YqYM?mute=0"
			allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen
			title="Facebook feed of Our Lady of Pompei Church"
		>
		</iframe>
	</div>
</section>
