---
import { YouTube } from "astro-embed";
---

<section class="mt-3 flex justify-center px-4">
  <div class="w-full max-w-4xl">
    <div class="relative aspect-video w-full overflow-hidden rounded-lg">
      <YouTube id="OKO_Jq-YqYM" />
    </div>
  </div>
</section>
