<section class="mx-6 mt-3 flex justify-center">
	<div class="md:h-96 h-60 w-full max-w-md">
		<iframe
			class="aspect-video h-full w-full rounded-lg shadow-lg"
			src="https://www.youtube-nocookie.com/embed/OKO_Jq-YqYM?mute=0"
			allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen
		>
		</iframe>
	</div>
</section>
