---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { cn } from "~/helpers/cn";

//Images
import rosaMysticaConvent from "~/assets/convents/rosa-mystica-convent.jpg";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="mx-auto max-w-4xl">
  <h2
    class={cn("font-roboto mt-4 pb-2 text-2xl font-bold", {
      "font-noto-sans-kannada": lang === "kok",
    })}
  >
    {t("rosamysticaconvent.title")}
  </h2>

  <Image
    src={rosaMysticaConvent}
    alt="Rosa Mystica Convent at Our Lady of Pompei Church, Gurpur Kaikamba"
    class="mt-6 rounded-sm md:float-left md:mr-5 md:w-1/2"
  />
  <div class="font-geist mb-2 mt-6">
    <p class="mt-4 text-justify leading-7">
      The Congregation of the Sisters of the Little Flower of Bethany was
      founded in the year 1921 on 16th July by Rev. Fr RFC Mascarenhas, the then
      parish priest of St Sebastian Church, Bendur, Mangalore. This indigenous
      Congregation founded by an Indian priest under the inspiration of the Holy
      Spirit to cater to the needs of the Church and the society according to
      the signs of the time, began to spread its branches to the remotest
      village parishes of the Diocese of Mangalore. At present Rev Sr Rose
      Celine BS is the Superior General and Sr Dr Lilly Pereira BS is the
      Provincial superior of Mangalore Province Sr Leena Pereira BS is the
      Superior of Rosa Mystica Convent, Kinnikambla, Mangalore.
    </p>
    <p class="mt-4 text-justify leading-7">
      Rosa Mystica convent is a distinguished institution started in the year
      1932 encompassing various formation houses and engaging in multifaceted
      ministry and Church activities. The convent is dedicated to spiritual
      formation, educational services and community outreach. Our Rosa Mystica
      Campus consists of 42 dedicated sisters among 25 senior sisters
      incessantly offer prayers for the entire world, the Church and the
      suffering humanity. 8 sisters are actively involved in the education
      ministry, 2 sisters in the hostel ministry and also our community is
      supported by 7 trained formators.
    </p>
    <br />
    <h3 class="font-roboto font-bold">
      <strong>FORMATION HOUSES:</strong>
    </h3>
    <p class="text-justify leading-7">
      The formation houses at Rosa Mystica Convent consists of Novitiate with 22
      Novices , Tertiate with 10 tertians and 15 Student Candidates. These
      formation houses are pivotal in nurturing and developing individuals
      committed to a life of service and faith and provide a structured
      environment for spiritual growth.
    </p><br />
    <h3 class="font-roboto font-bold">
      <strong>SPIRITUAL LIFE OF THE COMMUNITY:</strong>
    </h3>
    <p class="text-justify leading-7 text-slate-700">
      We have regular masses offered by the Cammilian and the Dominican fathers.
      Monthly confessions and the spiritual needs are met regularly for the
      sisters, Novices, Tertians, candidates, students and the hostelites. The
      visit to the grotto of our Blessed Mother by the catholics and other
      religion has strengthened our faith and deepened our devotion and has
      brought a spiritual renewal and holiness in this entire campus. We have a
      vibrant Bethany Lay Association that actively participates in our
      spiritual and community activities. This association fosters a deep sense
      of fellowship and commitment among its members.
    </p><br />
    <h3 class="font-roboto font-bold">
      <strong>EDUCATIONAL INSTITUTIONS:</strong>
    </h3>
    <p class="text-justify leading-7 text-slate-700">
      The convent runs Rosa Mystica D.Ed. - 65, Rosa Mystica High School – 298 ,
      Rosa Mystica Hr Pry School - 395, Bethany CBSE school - 842 , and Rosa
      Mytica PU college - 250 providing quality education, holistic development
      and fostering academic excellence and moral values. We have St. Joseph’s
      Girls hostel for Primary, High School, PUC, and D. Ed students. Many of
      our students come from economically disadvantaged backgrounds, facing
      numerous financial challenges.
    </p><br />
    <h3 class="font-roboto font-bold">
      <strong>HEALTH CARE MINISTRY:</strong>
    </h3>
    <p class="text-justify leading-7 text-slate-700">
      The convent is involved in healthcare services like Homeopathy health care
      centre for the poor people of the locality. One sister provides counseling
      to all the students of the campus.
    </p><br />
    <h3 class="font-roboto font-bold">
      <strong>CHURCH MINISTRY:</strong>
    </h3>
    <p class="text-justify leading-7 text-slate-700">
      The community is dedicated to the Church ministry, fostering spiritual
      life within the parish. Sisters are actively involved in the celebration
      of the liturgy nurturing the spiritual life of the faithful. In Eight
      wards sisters participate in the SCC meeting regularly. Four sisters teach
      catechism and one sister is in-charge of YCS. Eight sisters distribute the
      communion in the Parish on Sundays and Saturdays. Most of the sisters
      provide moral support to parishioners and the local people through house
      visits, attending funerals and being with the people in their joys and
      sorrows.
    </p><br />
    <p class="text-justify leading-7 text-slate-700">
      Rosa Mystica convent stands as a beacon of faith, service and education.
      Through its formation houses, diverse ministries and church activities,
      the convent continues to make a profound impact on the individual and the
      community. The commitment to holistic development, spiritual growth and
      compassionate service reflects the Charism and mission of the Church.
    </p>
  </div>
</div>
