---
import churchBannerImage from '~/assets/church-banner.jpg';
import { parishHistoryKok } from '~/constants/parish-history-kok';
import { parishHistory } from '~/constants/parish-history';
import { Image } from 'astro:assets';
import { getLangFromUrl } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);

const historyData =
	lang === 'kok' ? parishHistoryKok[0].history : parishHistory[0].history;

const priestsData =
	lang === 'kok' ? parishHistoryKok[1].priestInfo : parishHistory[1].priestInfo;

const fontClass = lang === 'kok' ? 'font-noto-sans-kannada' : 'font-geist';
---

<div class="mx-auto">
	<div class={fontClass}>
		<div class="md:float-right lg:mt-2 md:ml-5">
			<Image src={churchBannerImage} alt="Church Banner Image" />
		</div>
		<div
			class="text-md mt-1 text-justify leading-7 text-slate-700"
			set:html={historyData}
		></div>
		<div
			class="text-md pb-4 text-justify leading-7 text-slate-700"
			set:html={priestsData}
		></div>
	</div>
</div>
