---
import '@fontsource-variable/noto-sans-kannada';
import '@fontsource-variable/roboto';

import 'aos/dist/aos.css';

import Navbar from '~/components/navbar.astro';
import Breadcrumbs from '~/components/breadcrumbs.astro';
import Footer from '~/components/footer.astro';
import ScrollTop from '~/components/scroll-top.astro';
import GoogleAnalytics from '~/components/google-analytics.astro';
import "~/styles/global.css";
import { cn } from "~/helpers/cn";
import { getLangFromUrl } from '~/i18n/utils';
import { Locale } from '~/enums/locale';

const lang = getLangFromUrl(Astro.url);

export interface Props {
	title: string;
	description?: string;
	image?: string;
	url?: string;
}

const { title, description, image, url } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<GoogleAnalytics measurementId={'G-4HPXW69JQV'} />
		<meta charset="UTF-8" />
		<meta
		name="description"
		content={
			lang === 'kok'
				? "à²•à³Šà²¡à³à²¯à²¾à²³à³ à²¥à²¾à²µà³à²¨à³ à²®à³‚à²¡à²¬à²¿à²¦à³à²°à²¿ à²µà³†à²šà³à²¯à²¾ à²µà²¾à²Ÿà³†à²°à³, à²²à²—à³à²¬à²—à³ à³¨à³¦ à²•à²¿.à²®à³€ à²ªà²°à²¿à²§à²¿ à²­à²¿à²¤à²°à³ à²…à²¸à³à²¤à²¿à²¤à³à²µà²¾à²°à³ à²†à²¸à³à²šà²¿ à²ªà³Šà²‚à²ªà²¯à³ à²®à²¾à²¯à³†à²•à³ à²¸à²®à²°à³à²ªà²¿à²²à³à²²à²¿ à²—à³à²°à³à²ªà³à²°à³ à²µ à²•à³Œà²¡à³‚à²°à³ à²«à²¿à²°à³à²—à²œà³ à²†à²ªà³à²²à³à²¯à²¾ à²—à³‚à²‚à²¡à³ à²à²¤à²¿à²¹à²¾à²¸à²¿à²•à³ à²†à²¨à²¿ à²†à²§à³à²¯à²¾à²¤à³à²®à²¿à²•à³ à²¸à²‚à²—à³à²¤à²¿à²¨à²¿ à²­à²°à³Šà²¨à³ à²œà²¿à²µà²¾à²³à³ à²œà²¾à²µà³à²¨à³ à²†à²¸à²¾"
				: description || "Gurpur Parish, also known as Kowdur, is 19 km from Mangalore on the Moodbidri road, with deep historical and spiritual roots."
		}
	/>
		<meta name="viewport" content="width=device-width" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>

		<meta property="og:type" content="website" />
		<meta property="og:url" content={url || "https://pompeichurch.in/"} />
		<meta property="og:title" content={title || "Our Lady of Pompei Church | Gurpur Kaikamba"} />
		<meta property="og:description"		content={
			lang === 'kok'
				? "à²•à³Šà²¡à³à²¯à²¾à²³à³ à²¥à²¾à²µà³à²¨à³ à²®à³‚à²¡à²¬à²¿à²¦à³à²°à²¿ à²µà³†à²šà³à²¯à²¾ à²µà²¾à²Ÿà³†à²°à³, à²²à²—à³à²¬à²—à³ à³¨à³¦ à²•à²¿.à²®à³€ à²ªà²°à²¿à²§à²¿ à²­à²¿à²¤à²°à³ à²…à²¸à³à²¤à²¿à²¤à³à²µà²¾à²°à³ à²†à²¸à³à²šà²¿ à²ªà³Šà²‚à²ªà²¯à³ à²®à²¾à²¯à³†à²•à³ à²¸à²®à²°à³à²ªà²¿à²²à³à²²à²¿ à²—à³à²°à³à²ªà³à²°à³ à²µ à²•à³Œà²¡à³‚à²°à³ à²«à²¿à²°à³à²—à²œà³ à²†à²ªà³à²²à³à²¯à²¾ à²—à³‚à²‚à²¡à³ à²à²¤à²¿à²¹à²¾à²¸à²¿à²•à³ à²†à²¨à²¿ à²†à²§à³à²¯à²¾à²¤à³à²®à²¿à²•à³ à²¸à²‚à²—à³à²¤à²¿à²¨à²¿ à²­à²°à³Šà²¨à³ à²œà²¿à²µà²¾à²³à³ à²œà²¾à²µà³à²¨à³ à²†à²¸à²¾"
				: description || "Gurpur Parish, also known as Kowdur, is 19 km from Mangalore on the Moodbidri road, with deep historical and spiritual roots."
		} />
		<meta property="og:image" content={image || "https://pompeichurch.in/church-hero.jpg"} />
		<meta property="og:image:alt" content={title || "Image of Our Lady of Pompei Church, Gurpur Kaikamba"} />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={url || "https://pompeichurch.in/"} />
		<meta property="twitter:title" content={title || "Our Lady of Pompei Church | Gurpur Kaikamba"} />
		<meta property="twitter:description" content={
			lang === 'kok'
				? "à²•à³Šà²¡à³à²¯à²¾à²³à³ à²¥à²¾à²µà³à²¨à³ à²®à³‚à²¡à²¬à²¿à²¦à³à²°à²¿ à²µà³†à²šà³à²¯à²¾ à²µà²¾à²Ÿà³†à²°à³, à²²à²—à³à²¬à²—à³ à³¨à³¦ à²•à²¿.à²®à³€ à²ªà²°à²¿à²§à²¿ à²­à²¿à²¤à²°à³ à²…à²¸à³à²¤à²¿à²¤à³à²µà²¾à²°à³ à²†à²¸à³à²šà²¿ à²ªà³Šà²‚à²ªà²¯à³ à²®à²¾à²¯à³†à²•à³ à²¸à²®à²°à³à²ªà²¿à²²à³à²²à²¿ à²—à³à²°à³à²ªà³à²°à³ à²µ à²•à³Œà²¡à³‚à²°à³ à²«à²¿à²°à³à²—à²œà³ à²†à²ªà³à²²à³à²¯à²¾ à²—à³‚à²‚à²¡à³ à²à²¤à²¿à²¹à²¾à²¸à²¿à²•à³ à²†à²¨à²¿ à²†à²§à³à²¯à²¾à²¤à³à²®à²¿à²•à³ à²¸à²‚à²—à³à²¤à²¿à²¨à²¿ à²­à²°à³Šà²¨à³ à²œà²¿à²µà²¾à²³à³ à²œà²¾à²µà³à²¨à³ à²†à²¸à²¾"
				: description || "Gurpur Parish, also known as Kowdur, is 19 km from Mangalore on the Moodbidri road, with deep historical and spiritual roots."
		} />
		<meta property="twitter:image" content={image || "https://pompeichurch.in/church-hero.jpg"} />
		<meta property="twitter:image:alt" content={title || "Image of Our Lady of Pompei Church, Gurpur Kaikamba"} />

		<meta name="apple-mobile-web-app-title" content="PompeiChurch" />
		<meta name="msvalidate.01" content="BEA18465C48B90A839493EB6EE14A0BD" />
		<meta name="keywords" content="Gurpur Church, Pompei Church, Kaikamba Church" />

		<link rel="icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		{
		import.meta.env.MODE === 'production' &&
		import.meta.env.PUBLIC_ENVIRONMENT === 'production' && (
			<script type="text/javascript">
				(function (c, l, a, r, i, t, y) {
					c[a] =
						c[a] ||
				function () {
					(c[a].q = c[a].q || []).push(arguments);
				};
			t = l.createElement(r);
			t.async = 1;
			t.src = 'https://www.clarity.ms/tag/' + i;
			y = l.getElementsByTagName(r)[0];
			y.parentNode.insertBefore(t, y);
		})(window, document, 'clarity', 'script', 'oxa7yg1jfv');
	</script>
	)}
	</head>
	<body class={cn("w-screen overflow-x-hidden font-roboto", {
		"font-noto-sans-kannada": lang === Locale.KOK,
		})}>
		<Navbar />
		<Breadcrumbs/>
		<slot />
		<Footer />
		<ScrollTop />
		<script>
			console.log("Est Nov, 2024 ðŸ¥ƒ www.nigelperis.dev")
			import { aosInit } from '~/helpers/aos-config';
			aosInit();
		</script>
	</body>
</html>