.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  border-radius: 50%;
  z-index: 100;

  transition: opacity 0.2s;
  opacity: 0;
  pointer-events: none;
}
.scroll-to-top.visible {
  opacity: 1;
  pointer-events: auto;
}

.scroll-progress-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-ring {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.2s linear;
}

.arrow-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-icon path {
  stroke-width: 4;
  stroke: #fff;
}
