---
interface Props {
  roleTitle: string;
  personName: string;
}

const { roleTitle, personName } = Astro.props as Props;
---

<div class="border border-gray-100">
  <div class="bg-yellow-50 border-b border-yellow-200 px-3 py-2">
    <h3 class="text-sm font-semibold leading-snug">{roleTitle}</h3>
  </div>

  <div class="px-3 py-2">
    <p class="text-sm text-slate-800">{personName}</p>
  </div>
</div>
