---
import { Image } from 'astro:assets';
import bethanySchool from '~/assets/bethany-school.jpg';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';


const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="mx-auto ">
	<h2 class="mt-4 pb-2 font-poppins text-2xl font-bold">
		{t('bethany.title')}
	</h2>
	<Image
		src={bethanySchool}
		alt="Image of Bethany School, Gurpur Kaikamba"
		class="mt-6 rounded-sm md:float-right md:ml-5 md:w-1/2"
	/>
	<div class="mb-2 mt-6 pb-4 font-geist">
		<p class="mt-4  text-justify text-lg text-slate-700">
			Bethany School Kinnikambla, was established on 30th May 2014 and is
			administrated by the Bethany Educational Society, Mangaluru, a Christian
			Religious Minority Institution. The Bethany Educational Society is
			registered under the Society’s Registration Act of 1860 with registration
			No. 17 of 1948-49. Its office is at Bethany Convent, Mangaluru.
		</p>
		<p class="mt-4 text-justify text-lg text-slate-700">
			All the members of the Bethany Educational Society are Catholic nuns
			belonging to the Congregation of the Sisters of the Little Flower of
			Bethany. Bethany school was established for the education of all
			irrespective of caste, creed and religion.
		</p>
		<address class="text-justify-left mt-4 text-lg text-slate-700">
			<strong>Address:</strong><br />
			Bethany School, Kinnikambla,<br />
			Mangalore, Karnataka 574151<br />
			<br />
			<strong>Phone:</strong> 0824-2258656<br />
			<strong>E-mail ID:</strong>
			<a href="mailto:rosamysticahps@gmail.com" class="text-blue-600 underline">
				bethanyschoolkinnikambla@gmail.com</a
			><br />
			<strong>Website:</strong>
			<a href="https://bethanyschool.in" class="text-blue-600 underline">
				https://bethanyschool.in</a
			><br />
			<br />
			<strong>Year of Establishment:</strong> 2014<br />
		</address>
	</div>
</div>
