---
import Layout from '~/layouts/layout.astro';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import { associations } from '~/constants/associations';
import AssociationDetails from '~/components/sections/associations/association-details.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
	return associations.map(
		({ slug, title, associationImage, officeBearers }) => ({
			params: { slug },
			props: { title, associationImage, officeBearers },
		}),
	);
}

const { title } = Astro.props;
---

<Layout title={`Associations | ${title}`}>
	<main class="mx-auto max-w-4xl overflow-hidden bg-white">
		<section id="associations" class="flex flex-col p-6 pb-4">
			<h1
				class="mb-4 border-l-4 border-natgeo-yellow pl-3 text-3xl font-extrabold lg:text-4xl"
			>
				{title}
			</h1>
			<AssociationDetails />
		</section>
	</main>
</Layout>
