---
import NetworkImage from "~/components/ui/network-image.astro";
import { getPlaceholderImage } from "~/helpers/get-placeholder-image";
import type { Media } from "~/models/parishioners-achievement";

const { additionalImages } = Astro.props as { additionalImages: Media[] };
---

{/* Mobile: One below the other */}
<div class="grid grid-cols-1 gap-4 md:hidden">
  {
    additionalImages.map((media: Media) => (
      <NetworkImage
        src={
          media.url
            ? new URL(media.url, import.meta.env.PUBLIC_STRAPI_URL).toString()
            : getPlaceholderImage({ text: "Achievement" })
        }
        width={media.width ?? 600}
        height={media.height ?? 400}
      />
    ))
  }
</div>

{/* Desktop: Only 2 images */}
<div class="hidden md:flex flex-row gap-2">
  {
    additionalImages.map((media) => (
      <NetworkImage
        src={
          media?.url
            ? new URL(media.url, import.meta.env.PUBLIC_STRAPI_URL).toString()
            : getPlaceholderImage({ text: "Achievement" })
        }
        width={media?.width}
        height={media?.height}
        class="mx-auto max-h-[300px] w-auto"
      />
    ))
  }
</div>
