---
import { Icon } from 'astro-icon/components';
---

<div class="mx-auto mt-8 max-w-4xl bg-white py-2 lg:px-4">
	<div class="mb-6 flex items-center border-b-2 pb-4">
		<Icon name="map-pin" size={22} class="text-gray-900" />
		<p class="ml-4 font-semibold text-gray-800">
			Gurpur, Kinnikambla, Mangaluru
		</p>
	</div>

	<div class="mb-6 flex items-center border-b-2 pb-4">
		<Icon name="contact-phone" size={22} class="text-gray-900" />
		<p class="ml-4 font-semibold text-gray-800">6969696969</p>
	</div>

	<div class="mb-6 flex items-center border-b-2 pb-4">
		<Icon name="user" size={22} class="text-gray-900" />
		<p class="ml-4 font-semibold text-gray-800">Mon-Sat: 9AM - 1PM | 2PM-5PM</p>
	</div>

	<div class="mb-6 flex items-center border-b-2 pb-4">
		<Icon name="clock" size={22} class="text-gray-900" />
		<p class="ml-4 font-semibold text-gray-800">John Cena</p>
	</div>

	<div class="mb-6 flex items-center pb-4">
		<Icon name="contact-mail" size={22} class="text-gray-900" />
		<p class="ml-4 font-semibold text-gray-800">pompeichurch100@gmail.com</p>
	</div>
</div>
