---
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";

// Icons
import Phone from "@lucide/astro/icons/phone";
import User from "@lucide/astro/icons/user";
import MapPinHouse from "@lucide/astro/icons/map-pin-house";
import Clock from "@lucide/astro/icons/clock";
import Mail from "@lucide/astro/icons/mail";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class={cn("font-roboto mt-8 max-w-4xl bg-white lg:px-4", {
    "font-noto-sans-kannada font-bold": lang === Locale.KOK,
  })}
>
  <div
    class="text-gray-800 mb-4 flex items-center border-gray-200 border-b-2 pb-4"
  >
    <MapPinHouse />
    <p
      class={cn("ml-4 font-semibold", {
        "mt-[6px]": lang === Locale.KOK,
      })}
    >
      {t("contact.address")}
    </p>
  </div>

  <div
    class="text-gray-800 mb-6 flex items-center border-gray-200 border-b-2 pb-4"
  >
    <Phone />
    <p
      class={cn("ml-4 font-semibold ", {
        "mt-[6px]": lang === Locale.KOK,
      })}
    >
      8277939340
    </p>
  </div>

  <div
    class="text-gray-800 mb-6 flex items-center border-gray-200 border-b-2 pb-4"
  >
    <User />
    <p
      class={cn("ml-4 font-semibold", {
        "mt-2": lang === Locale.KOK,
      })}
    >
      {t("contact.mon-sat")} 9AM - 1PM | 2PM-5PM
    </p>
  </div>

  <div
    class="text-gray-800 mb-6 flex items-center border-gray-200 border-b-2 pb-4"
  >
    <Clock />
    <p
      class={cn("ml-4 font-semibold", {
        "mt-[6px]": lang === Locale.KOK,
      })}
    >
      {t("contact.clerk-name")}
    </p>
  </div>

  <div class="mb-6 flex items-center pb-4 text-gray-800">
    <Mail />
    <p
      class={cn("ml-4 font-semibold", {
        "mt-1": lang === Locale.KOK,
      })}
    >
      pompeichurchgurpur@gmail.com
    </p>
  </div>
</div>
