---
import { Icon } from 'astro-icon/components';
---

<div class="mx-auto mt-8 lg:px-4 py-2 bg-white max-w-4xl">
  <div class="mb-6 border-b-2 pb-4 flex items-center">
    <Icon name="map-pin" size={22} class="text-gray-900"/>
    <p class="ml-4 text-gray-800 font-semibold">Gurpur, Kinnikambla, Mangaluru</p>
  </div>

  <div class="mb-6 border-b-2 pb-4 flex items-center">
    <Icon name="contact-phone" size={22} class="text-gray-900"/>
    <p class="ml-4 text-gray-800 font-semibold">6969696969</p>
  </div>

  <div class="mb-6 border-b-2 pb-4 flex items-center">
    <Icon name="user" size={22} class="text-gray-900"/>
    <p class="ml-4 text-gray-800 font-semibold">Mon-Sat: 9AM - 1PM | 2PM-5PM</p>
  </div>

  <div class="mb-6 border-b-2 pb-4 flex items-center">
    <Icon name="clock" size={22} class="text-gray-900"/>
    <p class="ml-4 text-gray-800 font-semibold">John Cena</p>
  </div>

  <div class="mb-6 pb-4 flex items-center">
    <Icon name="contact-mail" size={22} class="text-gray-900"/>
    <p class="ml-4 text-gray-800 font-semibold">pompeichurch100@gmail.com</p>
  </div>
</div>
