---
import { Image } from 'astro:assets';
import centenaryHallImage from '~/assets/centenary-hall.jpg';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
import { loremIpsum } from '~/constants/lorem-ipsum';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="mx-auto">
	<h2 class="mt-4 pb-4 font-poppins text-2xl font-bold">
		{t('centenaryhall.title')}
	</h2>
	<Image
		src={centenaryHallImage}
		alt="Exterior view of Centenary Hall at Our Lady of Pomepi Church"
		class="rounded-sm md:float-left mt-2 md:mr-5 md:w-1/2"
	/>
	<div class="pb-4 font-geist">
		<p class="text-justify leading-7 text-md text-slate-700">
			{loremIpsum}
		</p>
	</div>
</div>
