---
import pompeiSabhaBhavanImage from '~/assets/pompei-sabha-bhavan.jpg';
import { Image } from 'astro:assets';
import { loremIpsum } from '~/constants/lorem-ipsum';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="mx-auto">
	<h2 class="mt-4 pb-3 font-poppins text-2xl font-bold">{t('hall.title')}</h2>
	<Image
		src={pompeiSabhaBhavanImage}
		alt="Exterior view of Pomei Sabha Bhavan at Our Lady of Pomepi Church"
		class="mt-6 rounded-sm md:float-right md:ml-5 md:w-1/2"
	/>
	<div class="mb-2 mt-6 pb-4 font-geist">
		<p class="mt-4 text-justify text-lg text-slate-700">
			{loremIpsum}
		</p>
	</div>
</div>
