---
import { vpSecretaries } from '~/constants/ex-vp-secretaries';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

import ProfileCard from '~/components/profile-card.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
	class="mx-auto grid w-full grid-cols-2 gap-x-20 gap-y-10 pt-10 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
>
	{
		vpSecretaries.map((vpsec) => (
			<ProfileCard
				class="m-auto"
				imageUrl={vpsec.imageUrl}
				name={t(`priest.${vpsec.name}`)}
				term1={vpsec.term1}
        term2={vpsec.term2}
			/>
		))
	}
</div>
