---
import NetworkImage from "~/components/ui/network-image.astro";
import { getPlaceholderImage } from "~/helpers/get-placeholder-image";
import type { ParishPastoralCouncil } from "~/models/parish-pastoral-council";

const { pastoralCouncilData } = Astro.props as {
  pastoralCouncilData: ParishPastoralCouncil[];
};
const { pastoralCouncilImage } = Astro.props;
---

<div>
  <NetworkImage
    src={pastoralCouncilImage?.pastoralCouncilImage?.url
      ? new URL(
          pastoralCouncilImage?.pastoralCouncilImage?.url,
          import.meta.env.PUBLIC_STRAPI_URL,
        ).toString()
      : getPlaceholderImage({ text: "Parish Pastoral Council" })}
    width={pastoralCouncilImage?.pastoralCouncilImage?.width || 600}
    height={pastoralCouncilImage?.pastoralCouncilImage?.height || 400}
    class="w-full object-contain pb-10 pt-10"
  />
  <table class="mx-auto w-full border border-gray-200">
    <tbody>
      {
        pastoralCouncilData.map((member) => {
          return (
            <tr class="hover:bg-gray-50">
              <td class="border-b border-gray-200 px-4 py-2 text-sm lg:text-lg lg:text-slate-900">
                {member.name}
              </td>
              <td class="border-b border-gray-200 px-4 py-2 text-sm lg:text-lg lg:text-slate-900">
                {member.association}
              </td>
              <td class="border-b border-gray-200 px-4 py-2 text-sm lg:text-lg lg:text-slate-900">
                {member.position}
              </td>
            </tr>
          );
        })
      }
    </tbody>
  </table>
</div>
