---
import NetworkImage from "~/components/ui/network-image.astro";
import { getPlaceholderImage } from "~/helpers/get-placeholder-image";
import type {
  ParishPastoralCouncil,
  ParishPastoralCouncilImage,
} from "~/models/parish-pastoral-council";

const { pastoralCouncilData } = Astro.props as {
  pastoralCouncilData: ParishPastoralCouncil[];
};
const { councilImage } = Astro.props as {
  councilImage: ParishPastoralCouncilImage;
};

const parishPastoralCouncilImage = councilImage?.pastoralCouncilImage;
---

<div>
  {
    parishPastoralCouncilImage && (
      <NetworkImage
        src={
          parishPastoralCouncilImage?.url
            ? new URL(
                parishPastoralCouncilImage?.url,
                import.meta.env.PUBLIC_STRAPI_URL,
              ).toString()
            : getPlaceholderImage({ text: "Parish Pastoral Council" })
        }
        width={parishPastoralCouncilImage?.width || 600}
        height={parishPastoralCouncilImage?.height || 400}
        class="w-full object-contain py-6"
      />
    )
  }
  <table class="mx-auto w-full mt-4 border border-gray-200">
    <tbody>
      {
        pastoralCouncilData.map((member) => {
          return (
            <tr class="md:hover:bg-gray-50">
              <td class="border-b border-gray-200 px-4 py-2 text-sm lg:text-lg lg:text-slate-900">
                {member.name}
              </td>
              <td class="border-b border-gray-200 px-4 py-2 text-sm lg:text-lg lg:text-slate-900">
                {member.association}
              </td>
              <td class="border-b border-gray-200 px-4 py-2 text-sm lg:text-lg lg:text-slate-900">
                {member.position}
              </td>
            </tr>
          );
        })
      }
    </tbody>
  </table>
</div>
