---
import { Icon } from "astro-icon/components";

type CarouselType = "opacityTransition" | "scroll";

interface Props {
  carouselType?: CarouselType;
  shouldLoop?: boolean;
  shouldDragFreely?: boolean;
  showArrows?: boolean;
  autoScroll?: boolean;
  showDots?: boolean
}

const { carouselType, shouldLoop, shouldDragFreely, showArrows, autoScroll, showDots } =
  Astro.props;

const carouselTypeToUse = carouselType ?? "opacityTransition";
const shouldLoopFlagToUse = shouldLoop ?? true;
const shouldDragFreelyFlagToUse = shouldDragFreely ?? false;
---

<div
  class="embla relative overflow-hidden p-6"
  data-carousel-type={carouselTypeToUse}
  data-should-loop={String(shouldLoopFlagToUse)}
  data-drag-freely={String(shouldDragFreelyFlagToUse)}
  data-auto-scroll={String(autoScroll)}
>
  <div class="embla_container flex">
    <slot />
  </div>
  {
    showArrows && (
      <>
        <button
          class="embla__prev absolute left-1.5 top-1/2 -translate-y-1/2 rounded-full bg-black/50 p-1.5"
          aria-label="Previous"
        >
          <Icon name="chevron-left" class="stroke-[4] text-white" size={30} />
        </button>
        <button
          class="embla__next absolute right-1.5 top-1/2 -translate-y-1/2 rounded-full bg-black/50 p-1.5"
          aria-label="Next"
        >
          <Icon name="chevron-right" class="stroke-[4] text-white" size={30} />
        </button>
      </>
    )
  }
  {showDots && (
  <div class="embla__dots flex justify-center mt-8" />
  )}
</div>

<script>
  import { emblaCarousel } from "~/scripts/embla-carousel";
  emblaCarousel();
</script>
