---
import { cn } from "~/helpers/cn";

interface Props {
  href?: string;
  class?: string;
  target?: string;
}
const { href, class: className, target, ...rest } = Astro.props;
---

<a
  href={href}
  class={cn(
    "from-natgeo-yellow font-medium  to-natgeo-yellow hoverable-link border-natgeo-yellow border-b-2 bg-gradient-to-r px-2 py-1 hover:border-transparent hover:text-black",
    className,
  )}
  {...rest}
  target={target}
>
  <slot />
</a>