<div class="scroll-progress-bar">
  <div class="scroll-progress-indicator"></div>
</div>

<style>
.scroll-progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(200, 200, 200, 0.5);
    z-index: 100;
  }
  .scroll-progress-indicator {
    height: 100%;
    background-color: #ffdd00;
    width: 0%;
    transition: width 0.3s ease-out;
  }
</style>

<script>
 import { scrollProgress } from "~/scripts/scroll-progress";
 scrollProgress();
</script>
