---
import ContactInfo from "~/components/sections/contact/contact-info.astro";
import ContactMap from "~/components/sections/contact/contact-map.astro";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import Layout from "~/layouts/layout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const title = lang === Locale.KOK ? "ಸಂಪರ್ಕ್ ಕರಾ" : "Contact";
const description = lang === Locale.KOK
  ? "ಇಗರ್ಜೆಚ್ಯೊ ಚಟುವಟಿಕೊ ಆನಿಂ ಹೆರ್ ಮಾಹಿತಿ ಖಾತಿರ್ ಆಮ್ಕಾಂ ಸಂಪರ್ಕ್ ಕರಾ."
  : "Contact us for more information about our church activities, hall bookings, and other details.";
---

<Layout
  title={` ${title}`}
  description={description}
>
  <main class="mx-auto max-w-4xl overflow-hidden bg-white">
    <section id="contact" class="p-6 pb-4 lg:p-8">
      <h1
        class={cn(
          "font-black border-l-natgeo-yellow mb-4 border-l-4 pl-3 text-3xl lg:text-4xl",
          {
            "pt-2 font-bold": lang === Locale.KOK,
          },
        )}
      >
        {t("contact.title")}
      </h1>
      <h2 class="mb-6 text-lg font-normal text-gray-800">
        ಇಗರ್ಜೆಚ್ಯೊ ಚಟುವಟಿಕೊ ಆನಿಂ ಹೆರ್ ಮಾಹಿತಿ ಖಾತಿರ್ ಆಮ್ಕಾಂ ಸಂಪರ್ಕ್ ಕರಾ.
      </h2>
      <div class="space-y-6">
        <ContactInfo />
      </div>
      <div class="mt-8">
        <ContactMap class="w-full border shadow-md" />
      </div>
    </section>
  </main>
</Layout>
