---
import Layout from "~/layouts/layout.astro";
import PompeiConvent from "~/components/sections/convents/pompei-convent.astro";
import RosaMysticaConvent from "~/components/sections/convents/rosa-mystica-convent.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Pompei Church | Convents">
  <main class="mx-auto max-w-4xl overflow-hidden bg-white">
    <section id="our-convents" class="flex flex-col p-6">
      <h1
        class={cn(
          "font-roboto font-black border-l-natgeo-yellow mb-2 border-l-4 pl-3 text-3xl lg:text-4xl",
          {
            "font-noto-sans-kannada font-bold": lang === Locale.KOK,
          },
        )}
      >
        {t("nav.convents")}
      </h1>
      <PompeiConvent />
      <div class="mx-10 border-t-2 border-yellow-300"></div>
      <RosaMysticaConvent />
    </section>
  </main>
</Layout>
