---
import Layout from '~/layouts/layout.astro';
import MasonryGallery from '~/components/sections/gallery/masonry-gallery.astro';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Pompei Church | Gallery">
	<main class="overflow-hidden bg-white">
		<section id="gallery" class="flex flex-col items-center p-6">
			<h1
				class="mb-2 border-l-4 border-l-natgeo-yellow pl-2 text-3xl font-extrabold lg:text-4xl"
			>
				{t('gallery.title')}
			</h1>
			<p class="text-md font-poppins text-slate-400">
				{t('gallery.subtitle')}
			</p>
		</section>
		<MasonryGallery />
	</main>
</Layout>
