---
import Layout from "~/layouts/layout.astro";
import MasonryGallery from "~/components/sections/gallery/masonry-gallery.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";
import { listGalleryImages } from "~/services/gallery/list-gallery-images";
import { Message } from "~/constants/message";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const title = t("gallery.title");


const galleryImages = await listGalleryImages();
const strapiBaseUrl = import.meta.env.PUBLIC_STRAPI_URL;
const firstGalleryImage = galleryImages[0];
const ogImageUrl = firstGalleryImage?.url
  ? strapiBaseUrl
    ? new URL(firstGalleryImage.url, strapiBaseUrl).toString()
    : firstGalleryImage.url
  : undefined;

const emptyStateMessage =
  lang === Locale.KOK
    ? Message.GALLERY_IMAGES_NOT_FOUND_KOK
    : Message.GALLERY_IMAGES_NOT_FOUND;
---

<Layout title={`${title}`} image={ogImageUrl}>
  <main class="mx-auto max-w-screen-lg overflow-hidden bg-white">
    <section id="gallery" class="flex flex-col p-6 lg:p-8">
      <h1
        class={cn(
          "border-natgeo-yellow border-l-4 pl-3 text-left text-3xl lg:text-4xl font-black",
          {
            "pt-[13px] font-bold": lang === Locale.KOK,
          },
        )}
      >
        {t("gallery.title")}
      </h1>

      {
        galleryImages.length > 0 ? (
          <MasonryGallery images={galleryImages} />
        ) : (
          <p class="py-8 text-center text-3xl font-semibold">
            {emptyStateMessage}
          </p>
        )
      }
    </section>
  </main>
</Layout>
