---
import Layout from '~/layouts/layout.astro';
import PompeiSabhaBhavan from '~/components/sections/infrastructure/pompei-sabha-bhavan.astro';
import CentenaryHall from '~/components/sections/infrastructure/centenary-hall.astro';
import institutionDummyImage from '~/assets/institution-dummy.jpg';
import { loremIpsum } from '~/constants/lorem-ipsum';
import { getImage } from 'astro:assets';
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';


const optimizedInfrastructureImage = await getImage({
	src: institutionDummyImage,
});

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Pompei Church | Infrastructure">
	<main class="overflow-hidden bg-white">
		<section
			style={`background-image: url(${optimizedInfrastructureImage.src});`}
			class="relative flex h-[250px] w-full items-center justify-center bg-black/50 bg-cover bg-center px-10 text-white bg-blend-darken"
		>
			<div class="text-center">
				<h1 class="font-poppins text-4xl font-extrabold sm:text-6xl">
					{t('nav.infrastructure')}
				</h1>
				<p class="text-roboto mt-4 text-lg text-white">
					some subtitle
				</p>
			</div>
		</section>

		<section id="our-institutions" class="my-8 bg-white">
			<PompeiSabhaBhavan />
			<div class="mx-10 border-t-2 border-yellow-300"></div>
			<CentenaryHall />
		</section>
	</main>
</Layout>
