---
import Layout from '~/layouts/layout.astro';
import PompeiSabhaBhavan from '~/components/sections/infrastructure/pompei-sabha-bhavan.astro';
import CentenaryHall from '~/components/sections/infrastructure/centenary-hall.astro';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Pompei Church | Infrastructure">
	<main class="mx-auto max-w-4xl overflow-hidden bg-white">
		<section id="infrastructure" class="flex flex-col p-6">
			<h1
				class="mb-4 border-l-4 border-natgeo-yellow pl-3 text-3xl font-extrabold lg:text-4xl"
			>
				{t('nav.infrastructure')}
			</h1>
			<p class="text-justify font-geist text-lg">
				Explore our mission and the institutions that help make it possible.
			</p>
			<PompeiSabhaBhavan />
			<div class="mx-10 border-t-2 border-yellow-300"></div>
			<CentenaryHall />
		</section>
	</main>
</Layout>
