---
import Layout from "~/layouts/layout.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";
import AchievementsList from "~/components/sections/parishioners-achievements/parishioners-achievements-list.astro";
import { dummyData } from "~/constants/dummy-data";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const desc = "This is Parishioner Achievements page of Pompei Church";
---

<Layout title="Pompei Church | Parishioners Achievements" description={desc}>
  <main class="mx-auto max-w-4xl overflow-hidden bg-white">
    <section id="parishioner-achievements" class="flex flex-col p-6 pb-4">
      <h1
        class={cn(
          "font-roboto font-black border-natgeo-yellow mb-4 border-l-4 pl-3 text-3xl lg:text-4xl",
          {
            "font-noto-sans-kannada font-bold": lang === Locale.KOK,
          },
        )}
      >
        {t("nav.parishioners-achievements")}
      </h1>
      <p class="text-justify text-lg text-slate-700">
        {t("parishioners-achievements.subtitle")}
      </p>
      <AchievementsList list={dummyData} />
    </section>
  </main>
</Layout>
