---
import Layout from "~/layouts/layout.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import ParishPriestsList from "~/components/sections/parish-priests/parish-priests-list.astro";
import type { ParishPriests } from "~/models/parish-priest";
import { listParishPriests } from "~/services/list-parish-priests-data.ts";
import { Message } from "~/constants/message.ts";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const parishPriestsKok: ParishPriests[] =
  (await listParishPriests({ page: 1, pageSize: 100, locale: Locale.KOK })) ||
  [];
const parishPriestsEn: ParishPriests[] =
  (await listParishPriests({ page: 1, pageSize: 100 })) || [];
---

<Layout title="Pompei Church | Parish Priests">
  <main class="mx-auto max-w-4xl overflow-hidden bg-white">
    <section id="parish-priests" class="flex flex-col p-6 pb-4">
      <h1
        class={cn(
          "font-roboto font-black border-natgeo-yellow mb-4 border-l-4 pl-3 text-3xl lg:text-4xl",
          {
            "font-noto-sans-kannada font-bold": lang === Locale.KOK,
          },
        )}
      >
        {t("nav.parish-priests")}
      </h1>
      <p
        class={cn("text-justify text-lg text-slate-700", {
          "font-noto-sans-kannada": lang === Locale.KOK,
        })}
      >
        {t("pp.subtitle")}
      </p>
      {
        parishPriestsKok.length > 0 ? (
          <ParishPriestsList parishPriests={parishPriestsKok} />
        ) : parishPriestsEn.length > 0 ? (
          <ParishPriestsList parishPriests={parishPriestsEn} />
        ) : (
          <p class="py-8 text-center text-3xl font-semibold">
            {Message.PARISH_PRIESTS_NOT_FOUND}
          </p>
        )
      }
    </section>
  </main>
</Layout>
