---
import Layout from "~/layouts/layout.astro";
import ParishPriestsList from "~/components/sections/parish-priests/parish-priests-list.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Pompei Church | Parish Priests">
  <main class="mx-auto max-w-4xl overflow-hidden bg-white">
    <section id="parish-priests" class="flex flex-col p-6 pb-4">
      <h1
        class="border-natgeo-yellow mb-4 border-l-4 pl-3 text-3xl font-extrablack lg:text-4xl"
      >
        {t("nav.parish-priests")}
      </h1>
      <p class="font-noto-sans-kannada text-justify text-lg text-slate-700">
        {t("pp.subtitle")}
      </p>
      <ParishPriestsList />
    </section>
  </main>
</Layout>
