---
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import Layout from "~/layouts/layout.astro";
import ParishDetails from "~/components/sections/parish-history/parish-details.astro";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";

import churchBannerImage from "~/assets/parish-history/church-banner.jpg";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const title = lang === Locale.KOK
  ? "ಪೊಂಪೈ ಮಾಯೆಚಿ ಫಿರ್ಗಜ್ | ಆಮ್ಚಿ ಚರಿತ್ರಾ"
  : "Pompei Church | Our History";

const description = lang === Locale.KOK
  ? "ತೆನ್ಕಾ ಕುಶಿನ್ ಸೊಭಿತ್ ಫಲ್ಗುಣಿ ನಂಯ್ಚಿ ಮನ್ ಪಿಸ್ವೊಂಚಿ ಸೊಭಾಯ್. ಅಸ್ತಮ್ತೆಂತ್ ಭಂವ್ತಣಿ ಸೊಭಿತ್ ಪಾಚ್ವ್ಯಾ ಸೃಷ್ಠೆಚಿ ಅಪುರ್ಬಾಯ್."
  : "The Gurpur Parish is situated 19 km from Mangalore on the Mangalore-Moodbidri road.";
---

<Layout
  title={title}
  description={description}
 image={churchBannerImage.src}

>
  <main class="mx-auto max-w-4xl overflow-hidden bg-white">
    <section id="parish-history" class="flex flex-col p-6 pb-4">
      <h1
        class={cn(
          "font-black border-natgeo-yellow mb-4 border-l-4 pl-3 text-3xl lg:text-4xl",
          {
            "font-bold": lang === Locale.KOK,
          },
        )}
      >
        {t("history.title")}
      </h1>
      <h2 class="text-black pb-6 pt-2 text-2xl font-bold italic">
        {t("history.subtitle")}
      </h2>
      <ParishDetails />
    </section>
  </main>
</Layout>