---
import Layout from '~/layouts/layout.astro';
import PriestProfileList from '~/components/sections/parish-priests/priest-profile-list.astro';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="Pompei Church | Parish Priests">
	<section class="mx-6 mt-5">
		<h2
			data-animate-on-view="animate-slidein-left"
			class="font-roboto relative mb-4 border-l-4 border-natgeo-yellow pl-3 text-left text-3xl font-extrabold transition-opacity duration-700"
		>
		{t('priest.title')}
		</h2>
		<PriestProfileList>
	</section>
</Layout>
