---
import churchBanner from '~/assets/church-banner.jpg';
import ParishDetails from '~/components/sections/parish-history/parish-details.astro';
import Layout from '~/layouts/layout.astro';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import EmblaCarosuel from '~/components/ui/embla-carousel.astro';
import EmblaCarosuelItem from '~/components/ui/embla-carousel-item.astro';

import churchHeroImage from '~/assets/church-hero.jpg'
import { Image } from 'astro:assets';
---

<Layout title="Pompei Church | Parish History">
	<main class="overflow-hidden bg-white">
		<section id="our-institutions" class="my-8 bg-white">
			<div class="px-6">
				<h2
					class="text-slate-1000 mb-2 border-l-4 border-yellow-400 pl-3 font-poppins text-3xl font-extrabold"
				>
					{t('history.title')}
				</h2>
			</div>
			<ParishDetails />
			<EmblaCarosuel>
			<EmblaCarosuelItem>
				<Image
					src={churchBanner}
					alt="Banner Image"
					class="h-full w-full object-cover"
				/>
			</EmblaCarosuelItem>
			<EmblaCarosuelItem>
				<Image
					src={churchHeroImage}
					alt="Church Image"
					class="h-full w-full object-cover"
				/>
			</EmblaCarosuelItem>
			<EmblaCarosuelItem>
				<Image
					src={churchBanner}
					alt="Church Banner"
					class="h-auto w-full object-cover"
				/>
			</EmblaCarosuelItem>
		</EmblaCarosuel>
		</section>
	</main>
</Layout>
