---
import Layout from '~/layouts/layout.astro';
import PompeiSabhaBhavanHall from '~/components/sections/halls/pompei-sabha-bhavan-hall.astro';
---

<Layout title="Halls | Pompei Sabha Bhavan">
	<main class="mx-auto max-w-4xl overflow-hidden bg-white">
		<section id="infrastructure" class="flex flex-col p-6">
			<PompeiSabhaBhavanHall />
		</section>
	</main>
</Layout>
