---
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { Image } from "astro:assets";
import { cn } from "~/helpers/cn";

import candles from "~/assets/prayer-corner/candles.jpg";

import Psalms from "~/components/sections/prayer-corner/psalms.astro";
import Novena from "~/components/sections/prayer-corner/novena.astro";
import JubileeYear from "~/components/sections/prayer-corner/jubilee-year.astro";
import PopesIntention from "~/components/sections/prayer-corner/popes-intention.astro";
import PrayerCard from "~/components/sections/prayer-corner/prayer-card.astro";
import Layout from "~/layouts/layout.astro";
import { Locale } from "~/enums/locale";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const title = lang === Locale.KOK ? "ಮಾಗ್ಣ್ಯಾ ಪಾನ್" : "Prayer Corner";
const description =
  lang === Locale.KOK
    ? "ಮಾಗ್ಣ್ಯಾಕ್ ಆಮ್ಚೆ ಹಾತ್ ಜೊಡ್ಯಾಂ"
    : "Let's join hands in prayer";
const ogImageUrl = candles.src;
---

<Layout title={`${title}`} description={description} image={ogImageUrl}>
  <main class="mx-auto max-w-screen-lg overflow-hidden bg-white">
    <section id="parish-history" class="flex flex-col p-6 lg:p-8">
      <h1
        class={cn(
          "border-natgeo-yellow border-l-4 pl-3 text-left text-3xl lg:text-4xl font-black",
          {
            "pt-[13px] font-bold": lang === Locale.KOK,
          },
        )}
      >
        {t("nav.prayer-corner")}
      </h1>
      <div class="flex items-center justify-center py-6 lg:py-8">
        <Image src={candles} alt="Candles lit for prayer" />
      </div>
      <PrayerCard />
      <Novena />
      <Psalms />
      <PopesIntention />
      <JubileeYear />
    </section>
  </main>
</Layout>
