---
import Layout from "~/layouts/layout.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";
import ChevronDown from '~/assets/icons/chevron-down.svg?react';
import CheckMark from '~/assets/icons/check-mark.svg';
import { getWardNameKok } from "~/helpers/get-ward-names-kok";
import { criteria } from "~/constants/achievement-criteria";
import Calendar from "~/assets/icons/calendar.svg?react";
import DataLossConfirmation from "~/components/sections/parishioners-achievements/data-loss-confirmation.astro";

const lang = getLangFromUrl(Astro.url) as Locale;
const t = useTranslations(lang);

const wards = [
  "Kowdoor A",
  "Kowdoor B",
  "Pompei A",
  "Pompei B",
  "Kandar A",
  "Kandar B",
  "Monel",
  "Gurpur",
  "Church",
  "Addoor",
]
---

<Layout title="Parishioners Achievements Form">
  <main class="mx-auto max-w-4xl overflow-hidden bg-white">
    <section id="parishioner-achievements" class="flex flex-col p-6 pb-4">
      <h1
        class={cn(
          "font-roboto font-black border-natgeo-yellow mb-4 border-l-4 pl-3 text-3xl lg:text-4xl",
          {
            "font-noto-sans-kannada font-bold": lang === Locale.KOK,
          },
        )}
      >
        {t("nav.parishioners-achievements")}
      </h1>

      <div class="text-gray-800 text-md font-normal lg:text-lg">
          <h2 class="mb-3" set:html={criteria[lang].title}></h2>
          <p set:html={criteria[lang].content}></p>
      </div>

      <div class="w-full mx-auto my-4  border border-dashed border-natgeo-yellow"></div>

      <div id="overlay" class="fixed inset-0 z-[9999] bg-black/40 hidden"></div>

      <form data-lang={lang} class="flex-1 space-y-6" enctype="multipart/form-data" id="achievementsForm">
        <!-- Individual / Team Achievement Checkbox -->
        <fieldset class="md:flex flex-row space-x-4">
          <div class="flex items-center mb-1 md:mb-0">
            <input id="individual-achievement" type="radio" name="achievement-type" class="mr-2 mt-0.5 md:mb-0.5 cursor-pointer" required checked></input>
            <label for="individual-achievement" class="text-base font-normal leading-6 text-gray-900 mt-2 md:mt-1">{t("achievement.individual-achievement")}</label>
          </div>

          <div class="flex items-center md:mb-0">
            <input id="team-achievement" type="radio" name="achievement-type" class="mr-2 mt-0.5 md:mb-0.5 cursor-pointer"></input>
            <label for="team-achievement" class="text-base font-normal leading-6 text-gray-900 mt-2 md:mt-1">{t("achievement.team-achievement")}</label>
          </div>
        </fieldset>

        <!-- Name of the achiever -->
        <div class="" id="full-name-div">
          <label for="full-name" class="text-base font-normal leading-6 text-gray-900">{t("achievement.full-name")} <span class="text-red-500">*</span></label>
          <input id="full-name" type="text" name="full-name" class="characters-tracker block w-full border border-gray-400 mt-0.5 p-3 focus:outline-gray-700 placeholder-gray-500" placeholder={t("placeholder.full-name")} maxlength="50" required></input>
          <p class="live-counter text-xs text-gray-500 flex justify-end mt-1" aria-live="polite">0/50</p>
        </div>

        <!-- Team Name -->
        <div class="hidden" id="team-name-div">
          <label for="team-name" class="text-base font-normal leading-6 text-gray-900">{t("achievement.team-name")} <span class="text-red-500">*</span></label>
          <input id="team-name" type="text" name="team-name" class="characters-tracker block w-full border border-gray-400 mt-0.5 p-3 focus:outline-gray-700 placeholder-gray-500" placeholder={t("placeholder.team-name")} maxlength="50"></input>
          <p class="live-counter text-xs text-gray-500 flex justify-end mt-1" aria-live="polite">0/50</p>
        </div>

        <!-- Parents Names -->
        <div class="" id="parents-names-div">
          <label for="parents-names" class="text-base font-normal leading-6 text-gray-900">{t("achievement.parents-names")} <span class="text-red-500">*</span></label>
          <input id="parents-names" type="text" name="parents-names" class="descriptive-characters-tracker block w-full border border-gray-400 mt-0.5 p-3 focus:outline-gray-700 placeholder-gray-500" placeholder={t("placeholder.parents-names")} maxlength="100" required></input>
          <p class="live-counter text-xs text-gray-500 flex justify-end mt-1" aria-live="polite">0/100</p>
        </div>

        <!-- Team Members Names -->
        <div class="hidden" id="team-members-names-div">
          <label for="team-members-names" class="text-base font-normal leading-6 text-gray-900">{t("achievement.team-members-names")} <span class="text-red-500">*</span></label>
          <input id="team-members-names" type="text" name="team-members-names" class="descriptive-characters-tracker block w-full border border-gray-400 mt-0.5 p-3 focus:outline-gray-700 placeholder-gray-500" placeholder={t("placeholder.team-members-names")} maxlength="100"></input>
          <p class="live-counter text-xs text-gray-500 flex justify-end mt-1" aria-live="polite">0/100</p>
        </div>

         <!-- Ward (optional for teams) -->
        <div>
          <div id="ward-select" class="relative w-full mx-auto cursor-pointer">
            <label for="ward-input" class="block text-base font-normal text-gray-900">
              {t("achievement.ward")} <span class="text-red-500">*</span>
            </label>

            <input id="ward-input" type="text" name="ward-input" class="block w-full border border-gray-400 mt-0.5 p-3 pr-10 focus:outline-gray-700 placeholder-gray-500 cursor-pointer" placeholder={t("ward.select-label")} required></input>

            <ChevronDown id="dropdown-chevron" className="absolute w-6 h-6 right-3 top-1/2 text-gray-600 cursor-pointer" />

            <!-- Ward names Dropdown -->
            <div id="ward-options-menu" class="absolute left-0 right-0 mt-1 bg-white border border-gray-400 max-h-32 overflow-y-auto hidden">
              {wards.map((ward) => (
                <div class="p-2 cursor-pointer hover:bg-blue-100" role="option" aria-label={ward}>
                  {getWardNameKok(ward, lang)}
                </div>
              ))}
            </div>
          </div>
        </div>

        <!-- Achievement -->
        <div>
          <label for="achievement" class="text-base font-normal leading-6 text-gray-900">{t("achievement")} <span class="text-red-500">*</span></label>
          <input id="achievement" type="text" name="achievement" class="descriptive-characters-tracker block w-full border border-gray-400 mt-0.5 p-3 focus:outline-gray-700 placeholder-gray-500" required placeholder={t("placeholder.achievement")} maxlength="100"></input>
          <p class="live-counter text-xs text-gray-500 flex justify-end mt-1" aria-live="polite">0/100</p>
        </div>

        <!-- Achievement Issue Date -->
        <div>
          <label for="issue-date" class="text-base font-normal leading-6 text-gray-900">{t("achievement.issue-date")} <span class="text-red-500">*</span></label>
            <div class="relative">
              <input id="issue-date" type="text" name="issue-date" class="block w-full border border-gray-400 mt-0.5 p-3 cursor-pointer focus:outline-gray-700 placeholder-gray-500" required placeholder="dd/mm/yyyy"></input>
              <Calendar className="absolute w-4 h-4 right-3 top-4 text-gray-600 cursor-pointer"/>
            </div>
        </div>

        <!-- Achiever Image -->
        <div>
          <label class="block text-base font-normal leading-6 text-gray-900 mb-0.5">
            {t("achievement.achiever-image")} <span class="text-red-500">*</span>
          </label>

          <div class="relative flex items-center gap-4">
            <!-- Hidden file input -->
            <input
              id="achiever-image"
              type="file"
              name="achiever-image"
              class="sr-only"
              required
              accept=".jpg, .jpeg, .png, image/jpeg, image/png"
            />

            <div class="border border-gray-400 flex flex-row w-full items-center p-2 gap-2">
              <label
                for="achiever-image"
                class="shrink-0 bg-natgeo-yellow hover:bg-yellow-400 text-black font-normal px-2 py-1 rounded-md cursor-pointer"
              >
                {t("achievement.choose-file")}
              </label>

              <!-- File name display -->
              <p id="achiever-image-file-name" class="font-normal text-gray-900 truncate">{t("achievement.no-file-chosen")}</p>
            </div>
          </div>
          <!-- Error message -->
          <p id="achiever-image-error" class="text-sm text-red-500 mt-1 p-1" aria-live="assertive"></p>
        </div>

        <!-- Proof of Achievement -->
        <div>
          <label class="block text-base font-normal leading-6 text-gray-900 mb-0.5">
            {t("achievement.proof-of-achievement")} <span class="text-red-500">*</span>
          </label>

          <div class="relative flex items-center gap-4">
            <!-- Hidden file input -->
            <input
              id="proof-of-achievement"
              type="file"
              name="proof-of-achievement"
              class="sr-only"
              required
              accept=".jpg, .jpeg, .png, image/jpeg, image/png"
            />

            <div class="border border-gray-400 flex flex-row w-full items-center p-2 gap-2">
              <label
                for="proof-of-achievement"
                class="shrink-0 bg-natgeo-yellow hover:bg-yellow-400 text-black font-normal px-2 py-1 rounded-md cursor-pointer"
              >
                {t("achievement.choose-file")}
              </label>

              <!-- File name display -->
              <p id="proof-of-achievement-file-name" class="font-normal text-gray-900 truncate">{t("achievement.no-file-chosen")}</p>
            </div>
          </div>
          <!-- Error message -->
          <p id="proof-of-achievement-error-message" class="text-sm text-red-500 mt-1 p-1" aria-live="assertive"></p>
        </div>

        <!-- Additional Images (only 2 if any) -->
        <div>
          <label class="block text-base font-normal leading-6 text-gray-900 mb-0.5">
            {t("achievement.additional-images")}
          </label>

          <div class="relative flex items-center gap-4">
            <!-- Hidden file input -->
            <input
              id="additional-images"
              type="file"
              name="additional-images"
              class="sr-only"
              multiple
              accept=".jpg, .jpeg, .png, image/jpeg, image/png"
            />

            <div class="border border-gray-400 flex flex-row w-full items-center p-2 gap-2">
              <label
                for="additional-images"
                class="shrink-0 bg-natgeo-yellow hover:bg-yellow-400 text-black font-normal px-2 py-1 rounded-md cursor-pointer"
              >
                {t("achievement.choose-files")}
              </label>

              <!-- File name display -->
              <p id="additional-images-file-name" class="font-normal text-gray-900 truncate">{t("achievement.no-files-chosen")}</p>
            </div>
          </div>
          <!-- Error message -->
          <p id="additional-images-error" class="text-sm text-red-500 mt-1 p-1" aria-live="assertive"></p>
        </div>

        <!-- Submitted By -->
        <div>
          <label for="submitted-by" class="text-base font-normal leading-6 text-gray-900">{t("achievement.submitted-by")} <span class="text-red-500">*</span></label>
          <input id="submitted-by" type="text" name="submitted-by" class="characters-tracker block w-full border border-gray-400 mt-0.5 p-3 focus:outline-gray-700 placeholder-gray-500" required placeholder={t("placeholder.submitted-by")} maxlength="50"></input>
          <p class="live-counter text-xs text-gray-500 flex justify-end mt-1" aria-live="polite">0/50</p>
        </div>

        <!-- Submit Button -->
        <div class="flex items-center justify-center mt-4 mb-0">
          <button id="submit" type="submit" class="w-52 bg-natgeo-yellow hover:bg-yellow-400 text-black text-semibold px-4 py-2 rounded-3xl cursor-pointer">{t("achievement.submit")}</button>
        </div>

        <!-- Honeypot Spam Trap -->
        <div style="display: none;">
          <label for="fax">Leave this field blank</label>
          <input type="text" name="fax" id="fax" tabindex="-1" autocomplete="off" />
        </div>
        <!-- Success Toast -->
        <div id="toast"class="fixed w-96 top-18 left-1/2 transform -translate-x-1/2 bg-green-600 text-white px-6 py-4 text-lg font-bold z-50 rounded-xl shadow-lg opacity-0 transition-opacity duration-300 pointer-events-none flex items-center gap-3">
          <CheckMark class="w-8 h-8" />
          <span id="toast-text" class="mt-1"></span>
        </div>
      </form>

      <DataLossConfirmation />
    </section>
  </main>
  <script>
    import { achievementForm } from "~/scripts/achievement-form";
    import { Locale } from "~/enums/locale";
    const lang = document.getElementById("achievementsForm")?.getAttribute("data-lang") as Locale;
    achievementForm(lang);
  </script>
</Layout>