---
import Layout from "~/layouts/layout.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import WardDetails from "~/components/sections/wards/ward-details.astro";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";
import { fetchWardDetails } from "~/services/get-ward-info";
import { getWardNameKok } from "~/helpers/get-ward-names-kok";
import SelectWard from "~/components/ui/SelectWard.tsx";
import { Message } from "~/constants/message";

const lang = getLangFromUrl(Astro.url) as Locale;
const t = useTranslations(lang);

let wardDetails =
  lang === Locale.EN
    ? (await fetchWardDetails()) || []
    : (await fetchWardDetails(Locale.KOK)) || [];

if (wardDetails.length === 0) {
  wardDetails =
    lang === Locale.EN
      ? (await fetchWardDetails(Locale.KOK)) || []
      : (await fetchWardDetails()) || [];
}

const ogTitle = lang === Locale.KOK ? "ವಾಡೆ" : "Wards";

const firstWardPatronImage =
  wardDetails.length > 0 ? wardDetails[0].patronImage : null;

const ogImageUrl = firstWardPatronImage
  ? typeof firstWardPatronImage === "string"
    ? firstWardPatronImage
    : firstWardPatronImage.src
  : undefined;
---

<Layout title={ogTitle} image={ogImageUrl}>
  <main class="mx-auto max-w-screen-lg overflow-hidden bg-white">
    <section class="flex flex-col p-6 lg:p-8">
      <div
        class="flex flex-col gap-6 md:flex-row md:items-center md:justify-between pb-6 lg:pb-8"
      >
        <h1
          class={cn(
            "border-natgeo-yellow border-l-4 pl-3 text-left text-3xl lg:text-4xl font-black",
            { "pt-[13px] font-bold": lang === Locale.KOK },
          )}
        >
          {t("nav.wards")}
        </h1>

        <div class="w-full md:w-64">
          <SelectWard
            client:load
            placeholder={t("ward.select-label")}
            wards={wardDetails.map((w) => ({
              name: w.wardName,
              label:
                lang === Locale.KOK
                  ? getWardNameKok(w.wardName, lang)
                  : w.wardName,
            }))}
          />
        </div>
      </div>

      {
        wardDetails.length > 0 ? (
          <WardDetails details={wardDetails} />
        ) : (
          <div class="m-auto">
            <p class="py-6 text-center text-3xl font-semibold">
              {lang === Locale.KOK
                ? Message.WARDS_NOT_FOUND_KOK
                : Message.WARDS_NOT_FOUND}
            </p>
          </div>
        )
      }
    </section>
  </main>
</Layout>
