---
import Layout from "~/layouts/layout.astro";
import { getLangFromUrl, useTranslations } from "~/i18n/utils";
import WardDetails from "~/components/sections/wards/ward-details.astro";
import { Locale } from "~/enums/locale";
import { cn } from "~/helpers/cn";
import { fetchWardDetails } from "~/services/get-ward-info";
import { getWardNameKok } from "~/helpers/get-ward-names-kok";

const lang = getLangFromUrl(Astro.url) as Locale;
const t = useTranslations(lang);


const rawWardDetails = lang === Locale.EN
  ? await fetchWardDetails()
  : await fetchWardDetails(Locale.KOK);

const wardDetails = rawWardDetails ?? [];
---

<Layout title="Pompei Church | Wards">
  <main class="mx-auto max-w-4xl bg-white">
    <section class="p-6">
      <div class="flex flex-col md:flex-row md:items-center md:justify-between mb-4">
        <h1
          class={cn(
            "font-black border-natgeo-yellow mb-4 border-l-4 pl-3 text-3xl lg:text-4xl",
            { "font-bold": lang === Locale.KOK }
          )}
        >
          {t("nav.wards")}
        </h1>

        <select
          class="w-full md:w-auto border border-gray-300 p-2 text-base"
          aria-label={t("ward.selectAria")}
        >
          <option value="">{t("ward.selectLabel")}</option>
          {wardDetails.map((w) => (
            <option value={w.wardName}>
              {lang === Locale.KOK
                ? getWardNameKok(w.wardName, lang)
                : w.wardName}
            </option>
          ))}
        </select>
      </div>

      <WardDetails details={wardDetails} />
    </section>
  </main>
</Layout>
