---
import ObituaryCard from '~/components/obituary-card.astro';
import { obituaryData } from '~/constants/obituary-list';
---

<div
	class="mx-auto grid w-full max-w-4xl grid-cols-2 gap-x-20 gap-y-10 xs:grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2"
>
	{
		obituaryData.map((item) => (
			<ObituaryCard
				name={item.name}
				imageUrl={item.imageUrl}
				description={item.description}
				ward={item.ward}
				class="m-auto"
			/>
		))
	}
</div>
