---
import EventCard from '~/components/event-card.astro';
import { events } from '~/constants/events';
---

<div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
	{
		events.map((event) => (
			<EventCard
				eventName={event.eventName}
				imageUrl={event.imageUrl}
				description={event.description}
				facebookLink={event.facebookLink}
			/>
		))
	}
</div>
