---
import { Image } from 'astro:assets';
import pompeiConvent from '~/assets/pompei-convent.jpg';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="mx-auto max-w-4xl">
	<h2 class="mt-4 pb-4 font-poppins text-2xl font-bold">{t('pompeiconvent.title')}</h2>
	<Image
		src={pompeiConvent}
		alt="Pompei Convent Image"
		class="mt-6 rounded-sm md:float-right md:ml-5 md:w-1/2"
	/>
	<div class="mb-2 mt-6 pb-4 font-geist">
		<p class="mt-4 text-justify text-lg text-slate-700">
			The Pompei convent was started with the intention of raising the Pompei
			Primary School to higher primary status, Rev. Fr,John ST Rodriguez
			requested Rev. Mother Macrina the Superior General to assign a few Sisters
			to teach there. Her response was that two sisters would be assigned to his
			school provided that there would be two vocations from his parish to the
			Bethany congregation. Rev. Fr John ST Rodrigues accepted the challenge
			knowing fully well that not a single girl from his parish had ever sought
			admission into the Bethany Congregation despite the fact that the nearby
			Rosa Mystica Convent had been in existence for almost thirty years. Since
			then more have entered until at present they number close to twenty five
			to Bethany Congregation.
		</p>
		<p class="mt-4 text-justify text-lg text-slate-700">
			The school gained the higher primary status on 4th June ,1961.Sr.Patricea
			and a postulant Sr. Florita were assigned to teach there starting on 13th
			June, 1962. St the request of Rew.Fr.John ST Rodrigues for more teachers a
			couple of years later, two additional Sisters were sent. The Four Sisters
			resided at Rosa mystica Convent and Walked to and from school, a distance
			of about two kilometers. To remedy this situation the Congregation took on
			lease half an acre of church land to build a modest Convent. The Vicar
			General, Rev,Mgr William A. Lewis dedicated it on 15th December. 1964. On
			1st January 1965 the community took up residence there with Sister
			Gertrude as superior-in-charge for three months until Sr Susanna could be
			appointed as the first canonical superior. Sr. Joanet, Sr.Jacintha, Sr
			Sume, Sr.Helen Mary,Sr Ima, Sr. Electa, Sr Praescilda and presently
			Sr.Helen Rodrigues are the superiors.
		</p>
		<p class="mt-4 text-justify text-lg text-slate-700">
			Since the convent is located in the heart of the church campus, the Sister
			are very much involved in all parish activities.They assist the pastor4 by
			teaching Christian Doctrine, preparing children for the Sacraments, and
			fostering pious associations in the parish. Small Christian community
			meetings, family visits, teaching Catechism ,helping in the church,
			preparing the children for First communion, Girls Sodality of Blessed
			Vergin Mary, altar boys, attending Catholic Sabha Meetings, Legion of Mary
			, Pastoral Council and visiting the bereaved families. Their main
			apostolate of education was backed up by the dynamic leadership of
			Sr.Patricia, Sr Marie Hazel, Sr Selma,Sr Milburge, Sr Jacintha, Sr Helen
			Mary Sr Ims Sr Sybil Sr Rita Felcy, Sr Mercine presently Sr Pavana in
			Pompei Higher Primary School. She is the only one teaching sister left in
			the school. For the journey covered, the sisters remain grateful to the
			pioneer Sr Patricia for her fidelity to the charism of Bethany that has
			struck the deep chord of faithfulness in their hearts.
		</p>
	</div>
</div>
