---
import { Image } from 'astro:assets';
import rosaMysticaConvent from '~/assets/rosa-mystica-convent.jpg';
import { getLangFromUrl, useTranslations } from '~/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="mx-auto max-w-4xl">
	<h2 class="mt-4 font-poppins text-2xl font-bold">{t('rosamysticaconvent.title')}</h2>
	<Image
		src={rosaMysticaConvent}
		alt="Image of Rosa Mystica Convent at Gurpur Kaikamba"
		class="mt-6 rounded-sm md:float-left md:mr-5 md:w-1/2"
	/>
	<div class="mb-2 mt-6 font-geist">
		<p class="mt-4 text-justify text-lg text-slate-700">
			<strong>Name of the Convent:</strong> Rosa Mystica Convent, Kinnikambla<br
			/><br />
			<strong>Year of Establishment:</strong> 11.02.1932<br />
			<br />
			<strong>Pioneer Sisters:</strong> Sr M Benigna BS, Sr M Agata BS, Sr M Barthalomea
			BS
		</p>
		<h4 class="mb-2 mt-4 text-justify text-lg text-slate-700">
			<strong>Superiors Who Served</strong>
		</h4>
		<p class="mt-4 text-justify text-lg text-slate-700">
			Sr M Benigna BS, Sr M Zeeta BS, Sr M Gonzaga BS, Sr M Berchmans BS, Sr M
			Louise BS, Sr M Macrina BS, Sr M Honoratha BS, Sr M Claudia BS, Sr M
			Olympia BS, Sr M Lucian BS, Sr M Virginia BS, Sr M Bertha BS, Sr M Medella
			BS, Sr M Anseline BS, Sr M Juliana BS, Sr M Christte BS, Sr M Theresine
			BS, Sr M Felicia BS, Sr M Sharon BS, Sr M Helen BS, Sr M Amita BS
		</p>
		<h4 class="mb-2 mt-4 text-justify text-lg text-slate-700">
			<strong>Address of the Convent:</strong>
		</h4>
		<p class="mt-4 text-justify text-lg text-slate-700">
			Rosa Mystica Convent,<br />
			Kinnikambla post,<br />
			Kaikamba, Mangalore 574151<br />
			<strong>Email:</strong> me_rosamystica2@rediffmail.com<br />
			<strong>Phone Number:</strong> 0824-2258226
		</p>
	</div>
</div>
