---
import { Image } from 'astro:assets';

import imageOne from '~/assets/mary-grotto.jpg';
import imageTwo from '~/assets/church-hero-image.webp';
import imageThree from '~/assets/ciborium.jpg';
import imageFour from '~/assets/mother-mary.jpg';
import imageFive from '~/assets/sacrament.jpg';
import imageSix from '~/assets/mass-interior.jpg';
import imageSeven from '~/assets/snehasadan.jpg';
import imageEight from '~/assets/jeevadaan.jpg';
import imageNine from '~/assets/sky-bg.jpg';
import imageTen from '~/assets/pompei-convent.jpg';
import imageEleven from '~/assets/pompei-sabha-bhavan.jpg';
import imageTwelve from '~/assets/centenary-hall.jpg';

const imgArr = [
  imageOne,
  imageTwo,
  imageThree,
  imageFour,
  imageFive,
  imageSix,
  imageSeven,
  imageEight,
  imageNine,
  imageTen,
  imageEleven,
  imageTwelve,
] as const;
---

<section class="masonry-grid m-4 mx-auto flex w-screen">
  {
    imgArr.map((itm) => (
      <a
			href="#" onclick="event.preventDefault();"
        data-pswp-src={itm.src}
        data-pswp-width={itm.width}
        data-pswp-height={itm.height}
        class="masonry-grid-item-link"

      >
        <Image
          src={itm}
          class="masonry-grid-item w-1/2 overflow-hidden rounded-2xl object-cover p-1 px-1 lg:w-1/4"
          alt="masonry grid item"
        />
      </a>
    ))
  }
</section>

<script>
  import Masonry from 'masonry-layout';
  import 'photoswipe/style.css';
  import pswpModule from 'photoswipe';
  import PhotoSwipeLightbox from 'photoswipe/lightbox';

  const masonryGrid = document.querySelector<HTMLDivElement>('.masonry-grid')!;

		const leftArrowSVGString = '<svg aria-hidden="true" class="pswp__icn" viewBox="0 0 100 125" width="100" height="125"><path d="M5,50L50,5l3,3L11,50l42,42l-3,3L5,50z M92,95l3-3L53,50L95,8l-3-3L47,50L92,95z"/></svg>';
  const _ = new Masonry(masonryGrid, {
    itemSelector: '.masonry-grid-item',
    resize: true,
  });
  const lightbox = new PhotoSwipeLightbox({
    gallery: '.masonry-grid',
    children: 'a',
    pswpModule,

  });

  lightbox.init();


</script>
